{% extends 'base_adminlte.html' %}
{% load static %}
{% block title %}
    Новий показник
{% endblock title %}
{% block css %}
    <!--Select2-->
    <link rel="stylesheet" href="{% static 'bower_components/select2/dist/css/select2.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/adjust_select2.css' %}">
    <!--Datepicker-->
    <link rel="stylesheet"
          href="{% static 'bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css' %}">
    <style>
        .page-header-spec {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            margin-bottom: 15px;
        }

        .page-header-spec .form-group {
            margin-bottom: 0;
        }

        @media screen and (max-width: 768px) {
            .page-header-spec .form-group {
                margin-bottom: 15px;
            }

            .page-header-spec .label-mid {
                margin: 0 15px 15px 15px;
            }
        }

        @media screen and (min-width: 768px) {
            .page-header-spec .label-mid {
                margin: 0 15px;
            }
        }

        .action-buttons button {
            margin-bottom: 15px;
        }
    </style>
{% endblock css %}
{% block header %}
    Новий показник
{% endblock header %}
{% block breadcrumb %}
    <li><a><i class="fa fa-home"></i> Головна</a></li>
    <li><a>Показники рахунків</a></li>
    {% if form.initial.flat %}
        <li>
            <a href="{% url 'adminlte_meter_indicators_for_flat' %}?flat_id={{ form.initial.flat.id }}&service_id={{ form.initial.service.id }}">Показники
                рахунків, квартира №{{ form.initial.flat.no }}</a></li>
    {% endif %}
    <li class="active">Новий показник</li>
{% endblock breadcrumb %}
{% block content %}
    <form method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col-xs-12 col-md-7 col-lg-6">
                <div class="page-header-spec">
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"> № </span>
                            {{ form.no }}
                        </div>
                    </div>
                    <span class="label-mid">від</span>
                    <div class="form-group">
                        <div class="input-group date">
                            <span class="input-group-addon kv-date-calendar" title="Вибрати дату">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </span>
                            {{ form.date }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="box">
            <div class="box-body">
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group">
                            <label>{{ form.house.label }}</label>
                            {{ form.house }}
                        </div>
                        <div class="form-group">
                            <label>{{ form.section.label }}</label>
                            {{ form.section }}
                        </div>
                        <div class="form-group">
                            <label>{{ form.flat.label }}</label>
                            {{ form.flat }}
                        </div>
                        <div class="form-group">
                            <label>{{ form.service.label }}</label>
                            {{ form.service }}
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group">
                            <label>{{ form.status.label }}</label>
                            {{ form.status }}
                        </div>
                        <div class="form-group">
                            <label>{{ form.value.label }}</label>
                            {{ form.value }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 text-right">
                        <div class="form-group action-buttons">
                            <button class="btn btn-default">Відмінити</button>
                            <button name="save" type="submit" class="btn btn-success">Зберегти</button>
                            <button name="save_and_add_new" type="submit" class="btn btn-success">Зберегти і додати нові
                                показники
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock content %}
{% block js %}
    <!--Select2-->
    <script src="{% static 'bower_components/select2/dist/js/select2.full.min.js' %}"></script>
    <!--Datepicker-->
    <script src="{% static 'bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js' %}"></script>
    <!--Datepicker Localization-->
    <script src="{% static 'bower_components/bootstrap-datepicker/js/locales/bootstrap-datepicker.uk.js' %}"></script>
    <script>
        $(document).ready(function () {
            $('#id_no').val(Date.now());

            const $date = $('#id_date');

            $date.datepicker({
                autoclose: true,
                language: 'uk',
            });

            $date.datepicker("setDate", "0");

            $('.kv-date-calendar').click(function () {
                $('#id_date').focus();
            })

            const $houseSelect = $("#id_house");
            const $sectionSelect = $("#id_section");
            const $flatSelect = $("#id_flat");
            const $statusSelect = $("#id_status");
            const $serviceSelect = $("#id_service");

            $statusSelect.select2({
                width: '100%',
                minimumResultsForSearch: -1
            });

            $serviceSelect.select2({
                width: '100%',
                minimumResultsForSearch: -1
            });


            $houseSelect.select2({
                width: '100%',
                placeholder: 'Виберіть...',
                ajax: {
                    url: "{% url 'adminlte_flat_houses'%}",
                    dataType: "json",
                    processResults: data => ({
                        results: data.map(item => ({
                            id: item.id,
                            text: item.name
                        }))
                    })
                }
            });

            $sectionSelect.select2({
                width: '100%',
                placeholder: 'Виберіть...',
            });

            $houseSelect.on('select2:select', function () {
                $sectionSelect.empty();

                $sectionSelect.select2(
                    {
                        width: '100%',
                        placeholder: 'Виберіть...',
                        ajax: {
                            url: `{% url 'adminlte_flat_sections'%}?house_id=${$houseSelect.val()}`,
                            dataType: "json",
                            processResults: data => ({
                                results: data.map(item => ({
                                    id: item.id,
                                    text: item.name
                                }))
                            })
                        }
                    }
                );
            });

            $flatSelect.select2({
                width: '100%',
                placeholder: 'Виберіть...',
            });

            $sectionSelect.on('select2:select', function () {
                $flatSelect.empty();

                $flatSelect.select2(
                    {
                        width: '100%',
                        placeholder: 'Виберіть...',
                        ajax: {
                            url: `{% url 'adminlte_personal_account_flats'%}?ignore_account=true&section_id=${$sectionSelect.val()}`,
                            dataType: "json",
                            processResults: data => ({
                                results: data.map(item => ({
                                    id: item.id,
                                    text: `Квартира №${item.no}`
                                }))
                            })
                        }
                    }
                );
            });

            {% if form.initial.house %}
                $houseSelect.append($("<option />")
                    .attr("value", {{form.initial.house.id}})
                    .html('{{form.initial.house.name}}'))
                    .val({{form.initial.house.id}})
                    .trigger("select2:select")
                    .select2("close");

                $sectionSelect.append($("<option />")
                    .attr("value", {{form.initial.section.id}})
                    .html('{{form.initial.section.name}}'))
                    .val({{form.initial.section.id}})
                    .trigger("select2:select")
                    .select2("close");

                $flatSelect.append($("<option />")
                    .attr("value", {{form.initial.flat.id}})
                    .html('Квартира №{{form.initial.flat.no}}'))
                    .val({{form.initial.flat.id}})
                    .trigger("select2:select")
                    .select2("close");
            {% endif %}
        })
    </script>
{% endblock js %}