{% extends 'authentication/base.html' %}
{% load static %}
{% block title %}
    Реєстрація нового мешканця
{% endblock %}
{% block css %}
{% endblock %}
{% block form %}
    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
            <li class="active"><a aria-expanded="true">Для мешканця</a></li>
            <li><a aria-expanded="true" href="{% url 'authentication:adminlte:login' %}">Для адміністрації</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active">
                <div class="register-box-body">
                    <p class="login-box-msg">Реєстрація нового мешканця</p>
                    <form id="register-form" method="post">
                        {% csrf_token %}
                        <div class="form-group has-feedback">
                            {{ form.full_name }}
                            <span class="glyphicon glyphicon-user form-control-feedback"></span>
                        </div>
                        <div class="form-group has-feedback">
                            {{ form.email }}
                            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                        </div>
                        <div class="form-group has-feedback">
                            {{ form.password }}
                            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                        </div>
                        <div class="form-group has-feedback">
                            {{ form.repeat_password }}
                            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                        </div>
                        <div class="checkbox">
                            {{ form.privacy_policy_consent }}
                            <label>{{ form.privacy_policy_consent.label }}</label>
                        </div>
                        <div>
                            <button type="submit" class="btn btn-primary btn-block" name="login-button">
                                Зареєструватись
                            </button>
                        </div>
                    </form>
                    <div class="text-center links">
                        <a href="{% url 'authentication:account:login' %}">Увійти в особистий кабінет</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock form %}
{% block js %}
    <script>
        $(document).ready(function () {
            const $form = $('#register-form');
            const $button = $('button[type=submit]');

            $form.on('focus blur keyup ifToggled', 'input', function () {
                validate_form();
            });

            const validate_form = function () {
                const is_valid = $form.validate({
                    rules: {
                        full_name: {
                          required: true,
                          full_name: true
                        },
                        email: {
                            required: true,
                            email: false,
                            valid_email: true
                        },

                        password: {
                            required: true,
                            minlength: 8,
                            strong_password: true,
                        },
                        repeat_password: {
                            required: true,
                            equalTo: '#id_password',
                        }

                    },
                    messages: {
                        full_name: {
                          required: "Введіть ПІБ"
                        },
                        email: {
                            required: "Вкажіть електронну пошту",
                        },
                        password: {
                            required: "Вкажіть пароль",
                            minlength: "Пароль має містити щонайменше 8 символів"
                        },
                        repeat_password: {
                            required: "Повторіть пароль",
                            equalTo: "Паролі не співпадають"
                        }
                    },
                    errorElement: 'small',
                    errorPlacement: function (error, element) {
                        error.css({'color': 'red'});
                        element.closest('.form-group').append(error);
                    },
                    highlight: function (element) {
                        $(element).closest('.form-group').addClass('has-error');
                    },
                    unhighlight: function (element) {
                        $(element).closest('.form-group').removeClass('has-error');
                    }
                }).checkForm();

                if (is_valid) {
                    $button.prop('disabled', false);
                } else {
                    $button.prop('disabled', 'disabled');
                }
            }
        })

    </script>
{% endblock js %}
