{% extends 'base_adminlte.html' %}
{% load static %}
{% block title %}
    Заявка №{{ object.pk }}
{% endblock title %}
{% block css %}
    <!--Select2-->
    <link rel="stylesheet" href="{% static 'bower_components/select2/dist/css/select2.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/adjust_select2.css' %}">
    <!--Datepicker-->
    <link rel="stylesheet"
          href="{% static 'bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css' %}">
    <!--TimePicker-->
    <link rel="stylesheet" href="{% static 'plugins/timepicker/bootstrap-timepicker.css' %}">
    <style>
        .page-header-spec {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            margin-bottom: 15px;
            margin-left: 15px;
        }

        .page-header-spec .form-group {
            margin-bottom: 0;
        }

        @media screen and (max-width: 768px) {
            .page-header-spec .form-group {
                margin-bottom: 15px;
            }

            .page-header-spec .label-mid {
                margin: 0 15px 15px 15px;
            }
        }

        @media screen and (min-width: 768px) {
            .page-header-spec .label-mid {
                margin: 0 15px;
            }
        }
    </style>
{% endblock css %}
{% block header %}
    Заявка №{{ object.pk }}
{% endblock header %}
{% block breadcrumb %}
    <li><a><i class="fa fa-home"></i> Головна</a></li>
    <li><a>Заявки виклику майстра</a></li>
    <li>Заявка №{{ object.pk }}</li>
    <li class="active">Редагування</li>
{% endblock breadcrumb %}
{% block content %}
    <form method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col">
                <div class="page-header-spec">
                    <div class="form-group">
                        <div class="input-group date">
                            <span class="input-group-addon kv-date-calendar" title="Вибрати дату">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </span>
                            {{ form.date }}
                        </div>
                    </div>
                    <span class="label-mid">від</span>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-clock-o"></i>
                            </span>
                            {{ form.time }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="box">
            <div class="box-body">
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <div class="form-group">
                            <label>{{ form.flat_owner.label }}
                                <a id="profile-link" target="_blank" style="display: none;"><i
                                        class="fa fa-external-link"></i></a>
                            </label>
                            <select name="{{ form.flat_owner.html_name }}"
                                    id="{{ form.flat_owner.id_for_label }}"
                                    class="form-control">
                                <option value>Виберіть...</option>
                                {% for option in form.flat_owner.field.queryset %}
                                    <option value="{{ option.id }}"
                                            data-phone_number="{{ option.phone_number|default:'' }}">
                                        {{ option.full_name }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                        <p><b>Телефон:</b> <a id="phone-number-link"></a></p>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <p><b>Будинок: </b> <a id="house-link"></a></p>
                        <p><b>Поверх: </b><span id="floor-number"></span></p>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-xs-12 col-md-6">
                        <label>{{ form.description.label }}</label>
                        {{ form.description }}
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <div class="form-group">
                            <label>{{ form.flat.label }}</label>
                            {{ form.flat }}
                        </div>
                        <div class="form-group">
                            <label>{{ form.master_type.label }}</label>
                            {{ form.master_type }}
                        </div>
                        <div class="form-group">
                            <label>{{ form.status.label }}</label>
                            {{ form.status }}
                        </div>
                        <div class="form-group">
                            <label>{{ form.master.label }}</label>
                            {{ form.master }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label>{{ form.comment.label }}</label>
                            {{ form.comment }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 text-right">
                        <div class="form-group">
                            <a href="{% url 'adminlte_master_call_request_create' %}"
                               class="btn btn-default">Відмінити</a>
                            <button type="submit" class="btn btn-success">Зберегти</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock content %}
{% block js %}
    <!--Select2-->
    <script src="{% static 'bower_components/select2/dist/js/select2.full.min.js' %}"></script>
    <!--Datepicker-->
    <script src="{% static 'bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js' %}"></script>
    <!--Datepicker Localization-->
    <script src="{% static 'bower_components/bootstrap-datepicker/js/locales/bootstrap-datepicker.uk.js' %}"></script>
    <!--TimePicker-->
    <script src="{% static 'plugins/timepicker/bootstrap-timepicker.js' %}"></script>
    <script>
        $(document).ready(function () {
            const $date = $('#id_date');

            $date.datepicker({
                autoclose: true,
                language: 'uk',
            });

            $('.kv-date-calendar').click(function () {
                $date.focus();
            });

            $('#id_time').timepicker({
                showInputs: false,
                showMeridian: false,
            });

            const $flatOwnerSelect = $('#id_flat_owner');

            $flatOwnerSelect.select2({
                width: '100%',
                placeholder: 'Виберіть...',
                allowClear: true,
            });


            const $profileLink = $('#profile-link');
            const $phoneNumberLink = $('#phone-number-link');

            const $flatSelect = $('#id_flat');

            $flatSelect.select2({
                width: '100%',
                placeholder: 'Виберіть...',
            });

            $flatOwnerSelect.on('select2:select', function () {
                const ownerId = $flatOwnerSelect.find(":selected").val();
                $profileLink.attr('href', `/adminlte/flat-owners/${ownerId}/`);
                $profileLink.show();
                const phoneNumber = $flatOwnerSelect.find(":selected").data('phone_number');
                $phoneNumberLink.attr('href', `tel:${phoneNumber}`);
                $phoneNumberLink.text(phoneNumber);

                $flatSelect.select2(
                    {
                        width: '100%',
                        placeholder: 'Виберіть...',
                        ajax: {
                            url: `{% url 'adminlte_personal_account_flats'%}?ignore_account=true&owner_id=${ownerId}`,
                            dataType: "json",
                            processResults: data => ({
                                results: data.map(item => ({
                                    id: item.id,
                                    text: `Квартира №${item.no}`
                                }))
                            })
                        }
                    }
                );
            });

            $flatOwnerSelect.on('select2:unselect', function () {
                $profileLink.hide();
                $phoneNumberLink.attr('href', '');
                $phoneNumberLink.text('');
                $flatSelect.empty().trigger('change');
            });

            const $houseLink = $('#house-link');
            const $floorNumber = $('#floor-number');

            $flatSelect.on('select2:select', function () {
                const flatId = $flatSelect.find(":selected").val();
                $.ajax({
                    url: `/adminlte/master-call-requests/flat/${flatId}`,
                    method: 'get',
                    success: function (detail) {
                        $houseLink.attr('href', `/adminlte/houses/${detail.house_id}/`);
                        $houseLink.text(detail.house__name);
                        $floorNumber.text(detail.floor__name);
                    }
                })
            })

            const $masterTypeSelect = $('#id_master_type');

            $masterTypeSelect.select2({
                width: '100%',
                placeholder: 'Будь-який спеціаліст',
                minimumResultsForSearch: -1,
                allowClear: true,
            });

            const $masterSelect = $('#id_master');

            function loadMasters() {
                const groupId = $masterTypeSelect.find(":selected").val()
                const url = "{% url 'adminlte_master_call_request_masters' %}"

                $masterSelect.val(null).empty().trigger('change');

                $masterSelect.select2(
                    {
                        width: '100%',
                        placeholder: 'Виберіть...',
                        minimumResultsForSearch: -1,
                        ajax: {
                            url: groupId ? url + `?group_id=${groupId}` : url,
                            dataType: "json",
                            processResults: data => ({
                                results: data.map(item => ({
                                    id: item.id,
                                    text: item.annotated_field
                                }))
                            })
                        }
                    }
                );
            }

            loadMasters();

            $masterTypeSelect.on('select2:select', loadMasters);
            $masterTypeSelect.on('select2:unselect', function () {
                $masterTypeSelect.val(null);
                loadMasters();
            });

            const $statusSelect = $('#id_status');
            $statusSelect.select2({
                width: '100%',
                minimumResultsForSearch: -1,
            });

            $('#id_comment').wysihtml5({
                locale: "ua-UA",
                toolbar: {
                    "font-styles": true,
                    "emphasis": true,
                    "lists": true,
                    "html": false,
                    "link": false,
                    "image": false,
                    "color": false,
                    "blockquote": false,
                    "fa": true,
                }
            });

            $flatOwnerSelect.val({{ object.flat_owner.id }}).trigger('select2:select').trigger('change');

            $flatSelect.append($("<option />")
                .attr("value", {{object.flat.id}})
                .html('{{object.flat.no}}, {{ object.flat.house.name }}'))
                .val({{object.flat.id}})
                .trigger("select2:select")
                .select2("close");

            $masterSelect.append($("<option />")
                .attr("value", {{object.master.id}})
                .html('{{ object.master.first_name }} {{ object.master.last_name }} - {{ object.master.groups.first.name }}'))
                .val({{object.master.id}})
                .trigger("select2:select")
                .select2("close");
        })
    </script>
{% endblock js %}