{% if messages %}
{% for message in messages %}
<script>
    $(function () {
        const Toast = Swal.mixin({
            toast: true,
            position: 'top-end',
            showConfirmButton: false,
            timer: 4000,
        });
        Toast.fire({
            icon: '{{ message.tags }}',
            title: '<h5>{{ message }}</h5>'
        })
    });
</script>
{% endfor %}
{% endif %}

{% for error in form.non_field_errors %}
<script>
    $(function () {
        const Toast = Swal.mixin({
            toast: true,
            position: 'top-end',
            showConfirmButton: false,
            timer: 4000,
        });
        Toast.fire({
            icon: 'error',
            title: '<h5>{{ error }}</h5>'
        })
    });
</script>
{% endfor %}

{% for field in form %}
{% if field.errors %}
{% for error in field.errors %}
<script>
    $(function () {
        const Toast = Swal.mixin({
            toast: true,
            position: 'top-end',
            showConfirmButton: false,
            timer: 4000,
        });
        Toast.fire({
            icon: 'error',
            title: '<h5>{{ error }}</h5>'
        })
    });
</script>
{% endfor %}
{% endif %}
{% endfor %}

