{% extends 'website/base.html' %}
{% load contacts %}
{% block seo_title %}{{ page.seo_title }}{% endblock seo_title %}
{% block seo_description %}{{ page.seo_description }}{% endblock seo_description %}
{% block seo_keywords %}{{ page.seo_keywords }}{% endblock seo_keywords %}
{% block css %}
    <style>
        #map iframe {
            width: 100%;
            aspect-ratio: 2/1;
        }

    </style>
{% endblock css %}
{% block content %}
    <div class="container-xl px-4 py-4 pb-2 px-xl-0">
        <!--Breadcrumb-->
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'website_home' %}">Головна сторінка</a></li>
                <li class="breadcrumb-item active" aria-current="page">Контакти</li>
            </ol>
        </nav>
    </div>
    <!--Map-->
    <div id="map">
        {{ page.map_iframe|safe }}
    </div>
    <div class="container-xl p-4 px-xl-0">
        <div class="row">
            <div class="col-md-8">
                <h3 class="border-bottom pb-2">{{ page.title }}</h3>
                <div>
                    {{ page.description|safe }}
                </div>
            </div>
            <div class="col-md-4">
                {% contacts %}
            </div>
        </div>
    </div>
{% endblock content %}