{% extends 'website/base.html' %}
{% load contacts %}
{% block seo_title %}{{ page.seo_title }}{% endblock seo_title %}
{% block seo_description %}{{ page.seo_description }}{% endblock seo_description %}
{% block seo_keywords %}{{ page.seo_keywords }}{% endblock seo_keywords %}
{% block css %}
    <style>
        .carousel-item img {
            aspect-ratio: 1920 / 800;
        }

        .card-img-top {
            width: 100%;
            aspect-ratio: 1000 / 600;
        }
    </style>
{% endblock css %}
{% block content %}
    <!--Carousel-->
    <div id="slide-carousel" class="carousel slide">
        <div class="carousel-indicators">
            {% for slide in slides %}
                <button type="button"
                        data-bs-target="#slide-carousel"
                        data-bs-slide-to="{{ forloop.counter0 }}"
                        {% if forloop.counter0 == 0 %}
                        class="active"
                        aria-current="true"
                        {% endif %}
                        aria-label="Slide {{ forloop.counter }}"></button>
            {% endfor %}
        </div>
        <div class="carousel-inner">
            {% for slide in slides %}
                <div class="carousel-item {% if forloop.counter0 == 0 %}active{% endif %}">
                    <img src="{{ slide.image.url }}" class="d-block w-100" alt="Slide">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>{{ page.title }}</h5>
                    </div>
                </div>
            {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#slide-carousel"
                data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#slide-carousel"
                data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <div class="container-xl p-4 px-xl-0">
        <!--Info-->
        <div class="row">
            <div class="col-md-8">
                <h3 class="border-bottom pb-2">{{ page.title }}</h3>
                <div>
                    {{ page.description|safe }}
                </div>
                <div class="d-flex my-2 align-items-center">
                    <a class="btn btn-primary">Детальніше</a>
                    {% if page.show_app_links %}
                        <div class="ms-auto">
                            <a href="https://play.google.com/store/apps" class="text-decoration-none me-2">Google Play
                                <i
                                        class="fa-brands fa-google-play"></i></a>
                            <a href="https://www.apple.com/app-store/" class="text-decoration-none">App Store <i
                                    class="fa-brands fa-app-store"></i></a>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-4">
                {% contacts %}
            </div>
        </div>
        <!--Blocks-->
        <div class="row g-3">
            <h3 class="border-bottom pb-2 mt-md-4 mt-sm-2">Поруч з нами</h3>
            {% for block in blocks %}
                <div class="col-md-4">
                    <div class="card rounded-0 h-100 shadow-sm">
                        <img src="{{ block.image.url }}" class="card-img-top rounded-0" alt="Block Image">
                        <div class="card-body">
                            <h5 class="card-title">{{ block.title }}</h5>
                            <p class="card-text">{{ block.description|safe }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}