{% extends 'website/base.html' %}
{% load contacts %}
{% block seo_title %}{{ page.seo_title }}{% endblock seo_title %}
{% block seo_description %}{{ page.seo_description }}{% endblock seo_description %}
{% block seo_keywords %}{{ page.seo_keywords }}{% endblock seo_keywords %}
{% block css %}
    <style>
        .service-image {
            width: 100%;
            aspect-ratio: 650 / 300;
        }
    </style>
{% endblock css %}
{% block content %}
    <div class="container-xl p-4 px-xl-0">
        <!--Breadcrumb-->
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'website_home' %}">Головна сторінка</a></li>
                <li class="breadcrumb-item active" aria-current="page">Послуги</li>
            </ol>
        </nav>
        <!--Services-->
        <h3 class="border-bottom pb-2">Наші послуги</h3>
        <div class="row g-3">
            {% for service in page_obj %}
                <div class="col-12">
                    <div class="row">
                        <div class="col-md-6">
                            <img class="img-thumbnail service-image" src="{{ service.image.url }}" alt="Service Image">
                        </div>
                        <div class="col-md-6">
                            <h3 class="pt-2 pt-md-0 pb-2 border-bottom">{{ service.title }}</h3>
                            {{ service.description|safe }}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <!--Pagination Block-->
        <nav aria-label="Page navigation example" class="mt-4">
            <ul class="pagination justify-content-center mb-0">
                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                {% endif %}
                {% for page_number in page_obj.paginator.page_range %}
                    <li class="page-item {% if page_number == page_obj.number %}active{% endif %}">
                        <a class="page-link"
                           href="?page={{ page_number }}">{{ page_number }}</a>
                    </li>
                {% endfor %}
                {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>
{% endblock content %}