{% extends 'base_adminlte.html' %}
{% load static %}
{% block title %}
    Квартира № {{ flat.no }}, {{ flat.house.name }}
{% endblock title %}
{% block css %}
    <style>
        td {
            vertical-align: middle !important;
        }

        tr td:first-child {
            font-weight: bold;
        }

        a.disabled {
            opacity: 0.7;
            text-decoration: none;
            cursor: not-allowed;
        }
    </style>
{% endblock css %}
{% block header %}
    Квартира № {{ flat.no }}, {{ flat.house.name }}
{% endblock header %}
{% block breadcrumb %}
    <li><a><i class="fa fa-home"></i> Головна</a></li>
    <li><a href="{% url 'adminlte:flats:list' %}">Квартири</a></li>
    <li class="active">Квартира № {{ flat.no }}, {{ flat.house.name }}</li>
{% endblock breadcrumb %}
{% block content %}
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Перегляд квартири</h3>
            <div class="box-tools">
                <a href="{% url 'adminlte:cash-box:create' %}?account_id={{ flat.personal_account.id }}"
                   class="btn btn-default btn-sm" {% if not flat.personal_account %}disabled{% endif %}>
                    <span class="hidden-xs"><i class="fa fa-dollar"></i> Прийняти транзацію</span>
                    <i class="fa fa-pencil visible-xs" aria-hidden="true"></i>
                </a>
                <a href="{% url 'adminlte:receipts:create' %}?flat_id={{ flat.id }}"
                   class="btn btn-default btn-sm" {% if not flat.personal_account %}disabled{% endif %}>
                    <span class="hidden-xs"> <i class="fa fa-files-o"></i> Оформити квитанцію</span>
                    <i class="fa fa-pencil visible-xs" aria-hidden="true"></i>
                </a>
                <a href="{% url 'adminlte:flats:update' pk=flat.pk %}" class="btn btn-primary btn-sm">
                    <span class="hidden-xs">Редагувати квартиру</span>
                    <i class="fa fa-pencil visible-xs" aria-hidden="true"></i>
                </a>
            </div>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-xs-12">
                    <table class="table table-bordered table-striped table-view">
                        <tr>
                            <td>Особовий рахунок</td>
                            <td>
                                {% if flat.personal_account %}
                                    <a href="{% url 'adminlte:personal-accounts:detail' pk=flat.personal_account.pk %}">
                                        {{ flat.personal_account.no }}
                                    </a>
                                {% else %}
                                    (Не вказано)
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>Номер квартири</td>
                            <td>{{ flat.no }}</td>
                        </tr>
                        <tr>
                            <td>Площа</td>
                            <td>{{ flat.area }}м<sup>2</sup></td>
                        </tr>
                        <tr>
                            <td>Будинок</td>
                            <td>
                                {% if flat.house %}
                                    <a href="{% url 'adminlte:houses:detail' pk=flat.house.pk %}">
                                        {{ flat.house.name }}
                                    </a>
                                {% else %}
                                    (Не вказано)
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>Секція</td>
                            <td>
                                {% if flat.section %}
                                    {{ flat.section.name }}
                                {% else %}
                                    (Не вказано)
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>Поверх</td>
                            <td>
                                {% if flat.owner %}
                                    {{ flat.floor.name }}
                                {% else %}
                                    (Не вказано)
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>Власник</td>
                            <td>
                                {% if flat.owner %}
                                    <a href="{% url 'adminlte:flat-owners:detail' pk=flat.owner.pk %}">
                                        {{ flat.owner.last_name }} {{ flat.owner.first_name }} {{ flat.owner.middle_name }}
                                    </a>
                                {% else %}
                                    (Не вказано)
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>Тариф</td>
                            <td>
                                {% if flat.tariff %}
                                    <a href="{% url 'adminlte:system-settings:tariffs:detail' pk=flat.tariff.pk %}">
                                        {{ flat.tariff }}
                                    </a>
                                {% else %}
                                    (Не вказано)
                                {% endif %}
                            </td>
                        </tr>
                    </table>
                    <div>
                        <p>
                            <a href="{% url 'adminlte:meter-indicators:list-for-flat' %}?flat_id={{ flat.id }}">
                                Переглянути показники лічильників
                            </a>
                        </p>
                        <p>
                            <a
                                    {% if flat.personal_account %}
                                        href="{% url 'adminlte:cash-box:list' %}?type=income&account_id={{ flat.personal_account.id }}"
                                    {% else %}
                                        class="disabled" onclick="void(0)"
                                    {% endif %}
                            >
                                Переглянути транзакції
                            </a>
                        </p>
                        <p>
                            <!--TODO: add valid URL to flat receipts list page-->
                            <a href="">
                                Переглянути квитанції
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}