{% extends 'base_adminlte.html' %}
{% load static %}
{% block title %}
    Квартира №{{ form.instance.no }}, {{ form.instance.house }}
{% endblock title %}
{% block css %}
    <style>
        .row:last-child .btn {
            margin-bottom: 15px;
        }
    </style>
    <link rel="stylesheet" href="{% static 'bower_components/select2/dist/css/select2.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/adjust_select2.css' %}">
{% endblock css %}
{% block header %}
    Квартира №{{ form.instance.no }}, {{ form.instance.house }}
{% endblock header %}
{% block breadcrumb %}
    <li><a><i class="fa fa-home"></i> Головна</a></li>
    <li><a>Квартири</a></li>
    <li>Квартира №{{ form.instance.no }}, {{ form.instance.house }}</li>
    <li class="active">Редагування</li>
{% endblock breadcrumb %}
{% block content %}
    <div class="box">
        <div class="box-body">
            <form id="flat-form" id="flat-form" method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group">
                            <label>{{ form.no.label }}</label>
                            {{ form.no }}
                        </div>
                        <div class="form-group">
                            <label>{{ form.area.label }}</label>
                            {{ form.area }}
                        </div>
                        <div class="form-group">
                            <label>{{ form.house.label }}</label>
                            {{ form.house }}
                        </div>
                        <div class="form-group">
                            <label>{{ form.section.label }}</label>
                            {{ form.section }}
                        </div>
                        <div class="form-group">
                            <label>{{ form.floor.label }}</label>
                            {{ form.floor }}
                        </div>
                        <div class="form-group">
                            <label>{{ form.owner.label }}</label>
                            {{ form.owner }}
                        </div>
                        <div class="form-group">
                            <label>{{ form.tariff.label }}</label>
                            {{ form.tariff }}
                        </div>

                        <div class="form-group"></div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group">
                            <label>{{ form.new_personal_account.label }}</label>
                            {{ form.new_personal_account }}
                        </div>
                        <div class="form-group">
                            <label>{{ form.personal_account.label }}</label>
                            {{ form.personal_account }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 text-right">
                        <a class="btn btn-default">Відмінити</a>
                        <button id="submit-button" type="submit" class="btn btn-success">Зберегти</button>
                        <button id="submit-and-create-new-button" type="submit" class="btn btn-success bg-green-active">
                            Зберегти та додати нову
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}
{% block js %}
    <!--JQuery Validation-->
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/jquery.validate.min.js"></script>
    <!--Select2-->
    <script src="{% static 'bower_components/select2/dist/js/select2.full.min.js' %}"></script>
    <!--Set default language locale for Select2 components-->
    <script src="{% static 'bower_components/select2/dist/js/i18n/uk.js' %}"></script>
    <script>
        $.fn.select2.defaults.set('language', 'uk');
        $.fn.select2.defaults.set('width', '100%');
        $.fn.select2.defaults.set('placeholder', 'Виберіть...');
        $.fn.select2.defaults.set('allowClear', true);
    </script>
    <script>
        $(document).ready(function () {
                const $form = $('#flat-form');
                const $button = $('#submit-button');

                $form.on('focus blur keyup change', 'input,select', function () {
                    validate_form();
                });

                const $select = $('.select');

                $select.on('select2:opening select2:closing', function () {
                    $(this).trigger('blur');
                })

                function validate_form() {
                    const is_valid = $form.validate({
                        ignore: [],
                        rules: {
                            no: {
                                required: true,
                                digits: true,
                            },
                            area: {
                                required: true,
                                digits: true,
                                min: 30,
                            },
                            house: {
                                required: true,
                            },
                            section: {
                                required: true,
                            },
                            floor: {
                                required: true,
                            },
                            owner: {
                                required: true,
                            },
                            tariff: {
                                required: true,
                            },
                            personal_account: {
                                required: function () {
                                    return !($('#id_new_personal_account').val())
                                }
                            },
                            new_personal_account: {
                                required: function () {
                                    return !($('#id_personal_account').val())
                                }
                            },
                        },
                        messages: {
                            no: {
                                required: 'Введіть номер квартири',
                                digits: 'Номер квартири має бути числом',
                            },
                            area: {
                                required: 'Введіть площу квартири',
                                digits: 'Площа квартири має бути числом',
                                min: 'Площа квартири має мінімум 30 кв. м.',
                            },
                            house: {
                                required: 'Вкажіть будинок',
                            },
                            section: {
                                required: 'Вкажіть секцію',
                            },
                            floor: {
                                required: 'Вкажіть поверх',
                            },
                            owner: {
                                required: 'Вкажіть власника',
                            },
                            tariff: {
                                required: 'Вкажіть тариф',
                            },
                            personal_account: {
                                required: 'Вкажіть особовий рахунок'
                            },
                            new_personal_account: {
                                required: 'Введіть особовий рахунок'
                            }
                        },
                        errorElement: 'small',
                        errorPlacement: function (error, element) {
                            error.css({'color': 'red'});
                            element.closest('.form-group').append(error);
                        },
                        highlight: function (element) {
                            $(element).closest('.form-group').addClass('has-error');
                        },
                        unhighlight: function (element) {
                            $(element).closest('.form-group').removeClass('has-error').addClass('has-success');
                        }
                    }).checkForm();


                    $('#id_personal_account').on('change', function () {
                        $('#id_new_personal_account').valid();
                    })

                    $('#id_new_personal_account').on('keyup', function () {
                        $('#id_personal_account').valid();
                    })

                    if (is_valid) {
                        $button.prop('disabled', false);
                    } else {
                        $button.prop('disabled', 'disabled');
                    }
                }

                const $house_select = $("#id_house");
                const $section_select = $("#id_section");
                const $floor_select = $("#id_floor");
                const $owner_select = $("#id_owner");
                const $tariff_select = $("#id_tariff");

                $house_select.select2({
                    ajax: {
                        url: '../../api/houses/',
                        dataType: "json",
                        processResults: data => ({results: data})
                    },
                });

                $house_select.on('change', function () {
                    $section_select.val('').trigger('change').valid();
                    $floor_select.val('').trigger('change').valid();
                })

                // example of AJAX calls with lazy loading
                $section_select.select2({
                    ajax: {
                        url: '../../api/sections/',
                        delay: 250,
                        data: function (params) {
                            return {
                                term: params.term,
                                page: params.page || 1,
                                house_id: $house_select.val()
                            }
                        },
                        processResults: data => ({
                            results: data.results,
                            pagination: {
                                more: data.pagination.more
                            }
                        })
                    }
                });

                $floor_select.select2({
                    ajax: {
                        url: '../' +
                            '../api/floors/',
                        delay: 250,
                        data: function (params) {
                            return {
                                term: params.term,
                                page: params.page || 1,
                                house_id: $house_select.val()
                            }
                        },
                        processResults: data => ({
                            results: data.results,
                            pagination: {
                                more: data.pagination.more
                            }
                        })
                    },
                });

                $owner_select.select2({
                    ajax: {
                        url: '../../api/owners/',
                        processResults: data => ({results: data})
                    },
                });

                $tariff_select.select2({
                    ajax: {
                        url: '../../api/tariffs/',
                        processResults: data => ({results: data})
                    },
                });
            }
        )
    </script>
{% endblock js %}