{% extends 'base_adminlte.html' %}
{% load static %}
{% block title %}
    Новий дім
{% endblock title %}
{% block css %}
    <style>
        #images img {
            width: 100%;
            margin-bottom: 30px;
        }

        #primary-image {
            aspect-ratio: 522 / 350;
        }

        .secondary-image {
            aspect-ratio: 248 / 160;
        }
    </style>
{% endblock css %}
{% block header %}
    Новий дім
{% endblock header %}
{% block breadcrumb %}
    <li><a><i class="fa fa-home"></i> Головна</a></li>
    <li><a href="{% url 'adminlte:houses:list' %}">Будинки</a></li>
    <li class="active">Новий будинок</li>
{% endblock breadcrumb %}
{% block content %}
    <div class="box">
        <div class="box-body">
            <form id="house-form" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                    <!--Name, Address and Image Inputs-->
                    <div class="col-xs-12 col-lg-4">
                        <div class="form-group">
                            <label>{{ house.name.label }}</label>
                            {{ house.name }}
                        </div>
                        <div class="form-group">
                            <label>{{ house.address.label }}</label>
                            {{ house.address }}
                        </div>
                        <div class="form-group">
                            <label>{{ house.image_1.label }}</label>
                            {{ house.image_1 }}
                        </div>
                        <div class="form-group">
                            <label>{{ house.image_2.label }}</label>
                            {{ house.image_2 }}
                        </div>
                        <div class="form-group">
                            <label>{{ house.image_3.label }}</label>
                            {{ house.image_3 }}
                        </div>
                        <div class="form-group">
                            <label>{{ house.image_4.label }}</label>
                            {{ house.image_4 }}
                        </div>
                        <div class="form-group">
                            <label>{{ house.image_5.label }}</label>
                            {{ house.image_5 }}
                        </div>
                    </div>
                    <!--Image Placeholder-->
                    <div class="col-xs-12 col-lg-8" id="images">
                        <div class="row">
                            <div class="col-xs-12 col-md-6">
                                <img id="primary-image" src="https://placehold.co/522x350" alt="Primary House Image">
                            </div>
                            <div class="col-xs-6 col-md-3">
                                <img class="secondary-image" src="https://placehold.co/248x160"
                                     alt="Secondary House Image">
                            </div>
                            <div class="col-xs-6 col-md-3">
                                <img class="secondary-image" src="https://placehold.co/248x160"
                                     alt="Secondary House Image">
                            </div>
                            <div class="col-xs-6 col-md-3">
                                <img class="secondary-image" src="https://placehold.co/248x160"
                                     alt="Secondary House Image">
                            </div>
                            <div class="col-xs-6 col-md-3">
                                <img class="secondary-image" src="https://placehold.co/248x160"
                                     alt="Secondary House Image">
                            </div>
                        </div>
                    </div>
                </div>
                <!--Tabs-->
                <div class="row">
                    <div class="col-xs-12 col-lg-8">
                        <div class="nav-tabs-custom">
                            <ul class="nav nav-tabs">
                                <li class="active">
                                    <a href="#sections" data-toggle="tab" aria-expanded="true">Секції</a></li>
                                <li>
                                    <a href="#floors" data-toggle="tab" aria-expanded="false">Поверхи</a>
                                </li>
                                <li>
                                    <a href="#users" data-toggle="tab" aria-expanded="false">Користувачі</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <!--Sections-->
                                <div class="tab-pane clearfix active" id="sections">
                                    {{ sections.management_form }}
                                    {% for section in sections %}
                                        <div class="form-group section">
                                            <label>{{ section.name.label }}</label>
                                            <div class="input-group">
                                                {{ section.name }}
                                                <div style="display:none">
                                                    {{ section.DELETE }}
                                                </div>
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-danger delete-section-button">
                                                        <i class="fa fa-trash"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    {% endfor %}
                                    <button id="add-section-button" class="btn btn-success pull-right" type="button">
                                        Додати
                                    </button>
                                </div>
                                <!--Floors-->
                                <div class="tab-pane clearfix" id="floors">
                                    {{ floors.management_form }}
                                    {% for floor in floors %}
                                        <div class="form-group floor">
                                            <label>{{ floor.name.label }}</label>
                                            <div class="input-group">
                                                {{ floor.name }}
                                                <div style="display:none">
                                                    {{ floor.DELETE }}
                                                </div>
                                                <span class="input-group-btn">
                                                    <button type="button"
                                                            class="btn btn-danger delete-floor-button">
                                                        <i class="fa fa-trash"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    {% endfor %}
                                    <button id="add-floor-button" class="btn btn-success pull-right" type="button">
                                        Додати
                                    </button>
                                </div>
                                <!--Users-->
                                <div class="tab-pane clearfix" id="users">
                                    {{ users.management_form }}
                                    {% for user in users %}
                                        <div class="row user">
                                            <div class="col-xs-12 col-sm-7">
                                                <div class="form-group">
                                                    <label for="{{ user.user.id_for_label }}">{{ user.user.label }}</label>
                                                    <select name="{{ user.user.html_name }}"
                                                            id="{{ user.user.id_for_label }}"
                                                            class="form-control">
                                                        <option value>Виберіть...</option>
                                                        {% for option in user.user.field.queryset %}
                                                            <option value="{{ option.id }}"
                                                                    data-role="{{ option.groups.first.name }}">
                                                                {{ option.full_name }}
                                                            </option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-sm-5">
                                                <div class="form-group">
                                                    <label>Роль</label>
                                                    <div class="input-group">
                                                        <input class="form-control role-display" type="text"
                                                               value="Виберіть..." disabled>
                                                        <div style="display:none">
                                                            {{ user.DELETE }}
                                                        </div>
                                                        <span class="input-group-btn">
                                                            <button type="button"
                                                                    class="btn btn-danger delete-user-button">
                                                                <i class="fa fa-trash"></i>
                                                            </button>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                    <button id="add-user-button" class="btn btn-success pull-right" type="button">
                                        Додати
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Submit and Cancel buttons-->
                <div class="col-xs-12 text-right">
                    <div class="form-group">
                        <a class="btn btn-default">Відмінити</a>
                        <button type="submit" class="btn btn-success">Зберегти</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}
{% block js %}
<!--JQuery Validation-->
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/jquery.validate.min.js"></script>
<script>
    const $form = $('#house-form');
    const $button = $('button[type=submit]');

    $form.on('focus change keyup', 'input,select', function () {
        validate_form();
    });

    const validate_form = function () {
        const is_valid = $form.validate({
            ignore: ':hidden',
            rules: {
                name: {
                    required: true,
                    minlength: 10,
                },
                address: {
                    required: true,
                    minlength: 20,
                },
            },
            messages: {
                name: {
                    required: 'Введіть назву',
                    minlength: 'Назва має містити хоча б 10 символів'
                },
                address: {
                    required: 'Введіть адресу',
                    minlength: 'Адреса має містити хоча б 20 символів'
                },
            },
            errorElement: 'small',
            errorPlacement: function (error, element) {
                error.css({'color': 'red'});
                element.closest('.form-group').append(error);
            },
            highlight: function (element) {
                $(element).closest('.form-group').addClass('has-error');
            },
            unhighlight: function (element) {
                $(element).closest('.form-group').removeClass('has-error').addClass('has-success');
            }
        }).checkForm();

        $('#sections input').each(function () {
            $(this).rules('add', {
                required: true,
                minlength: 8,
                messages: {
                    required: 'Введіть назву секції',
                    minlength: 'Назва секції має містити мінімум 8 символів'
                }
            });
        });

        $('#floors input').each(function () {
            $(this).rules('add', {
                required: true,
                minlength: 8,
                messages: {
                    required: 'Введіть назву поверху',
                    minlength: 'Назва поверху має містити мінімум 8 символів'
                }
            });
        });

        $('#users select').each(function () {
            $(this).rules('add', {
                required: true,
                messages: {
                    required: 'Виберіть користувача',
                }
            });
        });

        $('input[type=file]').each(function () {
            $(this).rules('add', {
                required: function (el) {
                    const id = $(el).prop('id');
                    const number = id.match(/\d+/)[0];
                    const regex = /^https:\/\/placehold\.co\/.+$/;
                    const src = $('#images img').eq(Number(number) - 1).attr('src')
                    return regex.test(src);
                },
                messages: {
                    required: 'Виберіть зображення',
                }
            });
        });


        if (is_valid) {
            $button.prop('disabled', false);
        } else {
            $button.prop('disabled', 'disabled');
        }
    }

    // Sections
    const $section_extra_form = $('#sections .section').last();
    const $section_form_clone = $section_extra_form.clone(true);
    $section_extra_form.hide();

    $('#add-section-button').on('click', function () {
        const $total_forms = $('#id_sections-TOTAL_FORMS');
        const count = parseInt($total_forms.val());

        const form_markup = $section_form_clone.prop('outerHTML');
        const regex = /sections-(\d+)-/g;
        const form = form_markup.replace(regex, `sections-${count}-`);

        $('#sections #add-section-button').before(form);

        $('#sections input[type=text]:last').val(`Cекція ${count}`);

        $total_forms.attr('value', count + 1);
        validate_form();
    });

    $(document).on('click', '.delete-section-button', function () {
        const $section = $(this).closest('.section');
        $section.find('input[type="checkbox"]').attr('checked', true);
        $section.hide();
        validate_form()
    });

    // Floors
    const $floor_extra_form = $('#floors .floor').last();
    const $floor_form_clone = $floor_extra_form.clone(true);
    $floor_extra_form.hide();

    $('#add-floor-button').on('click', function () {
        const $total_forms = $('#id_floors-TOTAL_FORMS');
        const count = parseInt($total_forms.val());

        const form_markup = $floor_form_clone.prop('outerHTML');
        const regex = /floors-(\d+)-/g;
        const form = form_markup.replace(regex, `floors-${count}-`);

        $('#floors #add-floor-button').before(form);

        $('#floors input[type=text]:last').val(`Поверх ${count}`);

        $total_forms.attr('value', count + 1);
        validate_form();
    });

    $(document).on('click', '.delete-floor-button', function () {
        const $floor = $(this).closest('.floor');
        $floor.find('input[type="checkbox"]').attr('checked', true);
        $floor.hide();
        validate_form();
    });

    // Users
    function update_role_display(el) {
        const selected_option = el.find('option:selected');
        const role = selected_option.data('role');
        el.closest('.user').find('.role-display').val(role ?? 'Виреріть...');
    }

    $(document).ready(function () {
        $('#users select').each(function () {
            update_role_display($(this));
        });

        $('form').on('change', '#users select', function () {
            update_role_display($(this));
        });
    });

    const $user_extra_form = $('#users .user').last();
    const $user_form_clone = $user_extra_form.clone(true);
    $user_extra_form.hide();

    $('#add-user-button').on('click', function () {
        const $total_forms = $('#id_users-TOTAL_FORMS');
        const count = parseInt($total_forms.val());

        const form_markup = $user_form_clone.prop('outerHTML');
        const regex = /users-(\d+)-/g;
        const form = form_markup.replace(regex, `users-${count}-`);

        $('#users #add-user-button').before(form);

        $total_forms.attr('value', count + 1);
        validate_form();
    });

    $(document).on('click', '.delete-user-button', function () {
        const $user = $(this).closest('.user');
        $user.find('input[type="checkbox"]').attr('checked', true);
        $user.hide();
        validate_form();
    });

    // Images
    $(document).on('change', 'input:file', function (e) {
        const image = e.target.files[0];
        const src = URL.createObjectURL(image);

        const id = $(e.target).prop('id');
        const number = id.match(/\d+/)[0];

        $('#images img').eq(Number(number) - 1).attr('src', src);
    });
</script>
{% endblock js %}