{% extends 'base_adminlte.html' %}
{% load static %}
{% block title %}
    Будинки
{% endblock title %}
{% block css %}
    <!--Datatable-->
    <link rel="stylesheet" href="https://cdn.datatables.net/2.2.2/css/dataTables.bootstrap.css">
    <style>
        .box {
            padding: 0 6px;
            overflow-x: hidden;
        }

        th.dt-orderable-asc, th.dt-orderable-desc {
            color: #337ab7;
        }

        tbody tr td:not(:last-child) {
            cursor: pointer;
        }
    </style>
{% endblock css %}
{% block header %}
    Будинки
{% endblock header %}
{% block breadcrumb %}
    <li><a><i class="fa fa-home"></i> Головна</a></li>
    <li class="active">Будинки</li>
{% endblock breadcrumb %}
{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <div class="pull-right margin-bottom">
                <a class="btn btn-success" href="{% url 'adminlte:houses:create' %}">Додати будинок</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title"></h3>
                    <div class="box-tools">
                        <a href="{{ request.build_absolute_uri }}"
                           class="btn btn-default btn-sm">
                            <span class="hidden-xs">Очистити</span>
                            <i class="fa fa-eraser visible-xs" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
                <table id="datatable"
                       class="table table-bordered table-hover table-striped"
                       style="width:100%; overflow-x: scroll">
                    <thead>
                    <tr>
                        <th style="width: 50px; min-width: 50px">#</th>
                        <th style="width: 200px; min-width: 200px">Назва</th>
                        <th style="width: 600px; min-width: 600px">Адреса</th>
                        <th style="width: 60px; min-width: 60px"></th>
                    </tr>
                    <tr>
                        <th></th>
                        <th>
                            <input id="name" type="text" style="width: 100%" class="form-control">
                        </th>
                        <th>
                            <input id="address" type="text" style="width: 100%" class="form-control">
                        </th>
                        <th></th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
{% endblock content %}
{% block js %}
    <!--Datatables-->
    <script src="https://cdn.datatables.net/2.2.2/js/dataTables.js"></script>
    <script src="https://cdn.datatables.net/2.2.2/js/dataTables.bootstrap.js"></script>
    <script>
        const $name = $('#name');
        const $address = $('#address');

        $name.on('keyup', function () {
            datatable.columns(1).search($(this).val()).draw();
        });

        $address.on('keyup', function () {
            datatable.columns(2).search($(this).val()).draw();
        });

        // DataTable initialization
        const datatable = new DataTable('#datatable', {
            order: [],
            orderCellsTop: true,
            bFilter: false,
            iDisplayLength: 10,
            lengthChange: true,
            processing: true,
            serverSide: true,
            scrollX: true,
            columnDefs: [
                {
                    className: "dt-center",
                    targets: [0, 3]
                },
                {
                    targets: [0, 3],
                    orderable: false,
                },
                {
                    targets: '_all',
                    createdCell: function (cell) {
                        $(cell).css('vertical-align', 'middle').css('padding', '10px');
                    }
                }],
            language: {
                url: 'https://cdn.datatables.net/plug-ins/2.2.2/i18n/uk.json'
            },
            ajax: {
                url: "{% url 'adminlte:houses:datatable' %}",
                data: function (params) {
                    params.name = $name.val();
                    params.address = $address.val();
                },
            },
            columns: [
                {data: "pk"},
                {data: "name"},
                {data: "address"},
                {data: "actions"},
            ],
            createdRow: function (row, data) {
                $(row).find('td:not(:last-child)').on('click', function () {
                    document.location.href = `${data.pk}/`;
                });

                $(row).find('.delete-button').on('click', async function () {
                    const result = await Swal.fire({
                        title: "Ви дійсно хочете видалити цей об'єкт?",
                        icon: "question",
                        showDenyButton: true,
                        confirmButtonText: "Видалити",
                        denyButtonText: "Відмінити"
                    });

                    if (result.isConfirmed) {
                        $.ajax({
                            url: `${data.pk}/delete/`,
                            method: "DELETE", headers: {
                                "X-CSRFToken": "{{ csrf_token }}"
                            },
                            success: function () {
                                Swal.fire("Об'єкт успішно видалено", "", "success");
                                datatable.ajax.reload();
                            }
                        });
                    }
                });
            }
        });
    </script>
{% endblock js %}