{% extends 'base_adminlte.html' %}
{% load static %}
{% block title %}
    Платіжні реквізити
{% endblock title %}
{% block css %}
    <style>
    </style>
{% endblock css %}
{% block header %}
    Платіжні реквізити
{% endblock header %}
{% block breadcrumb %}
    <li><a><i class="fa fa-home"></i> Головна</a></li>
    <li class="active">Платіжні реквізити</li>
{% endblock breadcrumb %}
{% block content %}
    <div class="box">
        <div class="box-body">
            <form id="payment-credential-form" method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="col-xs-12 col-lg-7">
                        <div class="form-group">
                            <label class="control-label">
                                {{ form.name.label }}
                            </label>
                            {{ form.name }}
                        </div>
                    </div>
                    <div class="col-xs-12 col-lg-7">
                        <div class="form-group">
                            <label class="control-label">
                                {{ form.information.label }}
                            </label>
                            {{ form.information }}
                        </div>
                    </div>
                    <div class="col-xs-12 text-right">
                        <div class="form-group">
                            <a href="{% url 'adminlte_payment_credential' %}" class="btn btn-default">Відмінити</a>
                            <button id="submit-button" type="submit" class="btn btn-success">Редагувати</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}
{% block js %}
    <!--JQuery Validation-->
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/jquery.validate.min.js"></script>
    <script>
        $(document).ready(function () {
            const $form = $('#payment-credential-form');
            const $button = $('#submit-button');

            $form.on('focus blur keyup', 'textarea,input', function () {
                validateForm();
            });

            const validateForm = function () {
                const isValid = $form.validate({
                    rules: {
                        name: {
                            required: true,
                            minlength: 10,
                            maxlength: 100,
                        },
                        information: {
                            required: true,
                            minlength: 100,
                        }
                    },
                    messages: {
                        name: {
                            required: "Вкажіть назву",
                            minlength: "Назва повинна містити щонайменше 10 символів",
                            maxlength: "Назва не повинна перевищувати 100 символів",
                        },
                        information: {
                            required: "Вкажіть інформацію",
                            minlength: "Інформація повинна містити щонайменше 100 символів"
                        }
                    },
                    errorElement: 'small',
                    errorPlacement: function (error, element) {
                        error.css({'color': 'red'});
                        element.closest('.form-group').append(error);
                    },
                    highlight: function (element) {
                        $(element).closest('.form-group').addClass('has-error');
                    },
                    unhighlight: function (element) {
                        $(element).closest('.form-group').removeClass('has-error').addClass('has-success');
                    }
                }).checkForm();


                if (isValid) {
                    $button.prop('disabled', false);
                } else {
                    $button.prop('disabled', 'disabled');
                }
            }
        });
    </script>
{% endblock js %}