{% extends 'base_adminlte.html' %}
{% load static %}
{% block title %}
    Ролі
{% endblock title %}
{% block css %}
    <style>
        .box {
            padding: 0 6px;
            overflow-x: hidden;
        }

        th, td {
            vertical-align: middle !important;
            text-align: center;
        }

        th {
            width: 100px;
            min-width: 100px;
        }

        #table-container {
            overflow-x: scroll;
            width: 100%;
            scrollbar-width: none;
        }
    </style>
{% endblock css %}
{% block header %}
    Ролі
{% endblock header %}
{% block breadcrumb %}
    <li><a><i class="fa fa-home"></i> Головна</a></li>
    <li class="active">Ролі</li>
{% endblock breadcrumb %}
{% block content %}
    <div class="box">
        <div class="box-body">
            <form method="post">
                {{ management_form }}
                {% csrf_token %}
                <div id="table-container">
                    <table class="table table-striped table-bordered table-hover" style="width: 100%;">
                        <thead>
                        <tr>
                            <th>Роль</th>
                            <th>Статистика</th>
                            <th>Каса</th>
                            <th>Квитанції на оплату</th>
                            <th>Особові</th>
                            <th>Квартири</th>
                            <th>Власники квартир</th>
                            <th>Будинки</th>
                            <th>Повідомлення</th>
                            <th>Заявки виклику майстра</th>
                            <th>Показники лічильників</th>
                            <th>Управління сайтом</th>
                            <th>Послуги</th>
                            <th>Тарифи</th>
                            <th>Ролі</th>
                            <th>Користувачі</th>
                            <th>Платіжні реквізити</th>
                            <th>Статті платежів</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for group_id, forms in grouped_formset.items %}
                            <tr>
                                <!-- Render the group name based on the group ID -->
                                <td>
                                    {% if group_id == 1 %} Директор
                                    {% elif group_id == 2 %} Керуючий
                                    {% elif group_id == 3 %} Бухгалтер
                                    {% elif group_id == 4 %} Електрик
                                    {% elif group_id == 5 %} Сантехнік
                                    {% endif %}
                                </td>
                                {% for form in forms %}
                                    <td>
                                        {% for hidden in form.hidden_fields %}
                                            {{ hidden }}
                                        {% endfor %}
                                        {{ form.checkbox }}
                                    </td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="col-xs-12 text-right">
                    <a href="{% url 'adminlte_permissions' %}" class="btn btn-default">Відмінити</a>
                    <button id="submit-button" type="submit" class="btn btn-success">Редагувати</button>
                </div>
            </form>
        </div>

    </div>
{% endblock content %}
{% block js %}
{% endblock js %}