<h3 class="border-bottom pb-2 mt-2 mt-md-0">Контакти</h3>
<p><i class="fa-solid fa-building"></i> {{ contacts.name }}</p>
<p><i class="fa-solid fa-compass"></i> {{ contacts.address }}</p>
<p><i class="fa-solid fa-location-dot"></i> {{ contacts.location }}</p>
<p><i class="fa-solid fa-phone"></i> <a class="text-decoration-none" href="tel:{{ contacts.phone }}">{{ contacts.phone }}</a></p>
<p><i class="fa-solid fa-envelope"></i> <a class="text-decoration-none" href="mailto:{{ contacts.email }}">{{ contacts.email }}</a></p>