{% extends 'base_adminlte.html' %}
{% load static %}
{% block title %}
    Редагування  сторінки
{% endblock title %}
{% block css %}
    <style>
        .service-image {
            width: 100%;
            aspect-ratio: 13 / 6;
            margin-bottom: 15px;
        }

        .service-head {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 5px 0;
        }

        .service-head h4, .service-head a {
            display: inline-block;
        }
    </style>
{% endblock css %}
{% block header %}
    Редагування  сторінки
{% endblock header %}
{% block breadcrumb %}
    <li><a><i class="fa fa-home"></i> Головна</a></li>
    <li class="active">Редагування сторінки</li>
{% endblock breadcrumb %}
{% block content %}
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Редагування сторінки "Послуги"</h3>
        </div>
        <div class="box-body">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ page.id }}
                <div class="row" id="services">
                    <div class="col-xs-12">
                        <h3 class="page-header">Послуги</h3>
                    </div>
                    {{ services.management_form }}
                    {% for service in services %}
                        {{ service.id }}
                        <div class="col-md-4 service">
                            <div class="service-head">
                                <h4>Послуга {{ forloop.counter }}</h4>
                                <div style="display:none">
                                    {{ service.DELETE }}
                                </div>
                                <a class="btn btn-default pull-right text-red delete-service-button"><i
                                        class="fa fa-trash"></i></a>
                            </div>
                            {% if service.instance.image %}
                                <img class="service-image" src="{{ service.instance.image.url }}" alt="Service">
                            {% else %}
                                <img class="service-image" src="https://placehold.co/650x300" alt="Service">
                            {% endif %}
                            <div class="form-group">
                                <label>
                                    {{ service.image.label }}
                                </label>
                                {{ service.image }}
                            </div>
                            <div class="form-group">
                                <label>{{ service.title.label }}</label>
                                {{ service.title }}
                            </div>
                            <div class="form-group">
                                <label>{{ service.description.label }}</label>
                                {{ service.description }}
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <button type="button" id="add-service-button" class="btn btn-success">
                    Додати послугу
                </button>
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="page-header">Налаштування SEO</h3>
                        <div class="form-group">
                            <label>{{ page.seo_title.label }}</label>
                            {{ page.seo_title }}
                        </div>
                        <div class="form-group">
                            <label>{{ page.seo_keywords.label }}</label>
                            {{ page.seo_keywords }}
                        </div>
                        <div class="form-group">
                            <label>{{ page.seo_description.label }}</label>
                            {{ page.seo_description }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 text-center">
                        <div class="form-group">
                            <a href="{% url 'adminlte:website-management:services' %}"
                               class="btn btn-default">Відмінити</a>
                            <button id="submit-button" type="submit" class="btn btn-success">Зберегти</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}
{% block js %}
    <script>
        $('.wysihtml5').wysihtml5({
                locale: "ua-UA",
                toolbar: {
                    "font-styles": true,
                    "emphasis": true,
                    "lists": true,
                    "html": false,
                    "link": false,
                    "image": false,
                    "color": false,
                    "blockquote": false,
                    "fa": true,
                }
            });

        const $service_extra_form = $('#services .service:last-child');
        const $service_form_clone = $service_extra_form.clone(true);
        $service_extra_form.hide();

        $('#add-service-button').on('click', function () {
            const $total_forms = $('#id_form-TOTAL_FORMS');
            const count = parseInt($total_forms.val());

            const form_markup = $service_form_clone.prop('outerHTML');
            const regex = /form-(\d+)-/g;
            const form = form_markup
                .replace(regex, 'form-' + count + '-')
                .replace(/Послуга (\d+)/g, 'Послуга ' + count);


            $('#services').append(form);

            $('#id_form-' + count + '-description').wysihtml5({
                locale: "ua-UA",
                toolbar: {
                    "font-styles": true,
                    "emphasis": true,
                    "lists": true,
                    "html": false,
                    "link": false,
                    "image": false,
                    "color": false,
                    "blockquote": false,
                    "fa": true,
                }
            });

            $total_forms.attr('value', count + 1);
        });

        $(document).on('click', '.delete-service-button', function () {
            $(this).closest('.service-head').find('input[type="checkbox"]').attr('checked', true);
            $(this).closest('.service').hide();
        });

        $(document).on('change', 'input:file', function (e) {
            const image = e.target.files[0];
            const src = URL.createObjectURL(image);

            $(this).parent().parent().find('img').attr('src', src);
        });
    </script>
{% endblock js %}
