{% extends 'base_adminlte.html' %}
{% load static %}
{% block title %}
    Користувачі
{% endblock title %}
{% block css %}
    <!--Datatable-->
    <link rel="stylesheet" href="https://cdn.datatables.net/2.2.2/css/dataTables.bootstrap.css">
    <style>
        .box {
            padding: 0 6px;
            overflow-x: hidden;
        }

        th.dt-orderable-asc, th.dt-orderable-desc {
            color: #337ab7;
        }

        tbody tr td:not(:last-child) {
            cursor: pointer;
        }
    </style>
{% endblock css %}
{% block header %}
    Користувачі
{% endblock header %}
{% block breadcrumb %}
    <li><a><i class="fa fa-home"></i> Головна</a></li>
    <li class="active">Користувачі</li>
{% endblock breadcrumb %}
{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <div class="pull-right margin-bottom">
                <a class="btn btn-success" href="{% url 'adminlte:system-settings:users:create' %}">Додати
                    користувача</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title"></h3>
                    <div class="box-tools">
                        <a href="{{ request.build_absolute_uri }}"
                           class="btn btn-default btn-sm">
                            <span class="hidden-xs">Очистити</span>
                            <i class="fa fa-eraser visible-xs" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
                <table id="datatable"
                       class="table table-bordered table-hover table-striped"
                       style="width:100%; overflow-x: scroll">
                    <thead>
                    <tr>
                        <th style="min-width: 30px; width: 30px">#</th>
                        <th style="min-width: 100px; width: 100px">Користувач</th>
                        <th style="min-width: 100px; width: 100px">Роль</th>
                        <th style="min-width: 150px; width: 150px">Телефон</th>
                        <th style="min-width: 125px; width: 125px">Електронна пошта</th>
                        <th style="min-width: 100px; width: 100px">Статус</th>
                        <th style="min-width: 100px; width: 100px"></th>
                    </tr>
                    <tr>
                        <th></th>
                        <th style="width: 100%">{{ filters.name }}</th>
                        <th style="width: 100%">{{ filters.role }}</th>
                        <th style="width: 100%">{{ filters.phone }}</th>
                        <th style="width: 100%">{{ filters.email }}</th>
                        <th style="width: 100%">{{ filters.status }}</th>
                        <th></th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
{% endblock content %}
{% block js %}
    <!--Datatables-->
    <script src="https://cdn.datatables.net/2.2.2/js/dataTables.js"></script>
    <script src="https://cdn.datatables.net/2.2.2/js/dataTables.bootstrap.js"></script>
    <script>
        // filters
        const $name = $('#id_name');
        const $role = $('#id_role');
        const $phone = $('#id_phone');
        const $email = $('#id_email');
        const $status = $('#id_status');


        $name.on('keyup', function () {
            datatable.columns(1).search($(this).val()).draw();
        });

        $role.on('change', function () {
            datatable.columns(2).search($(this).val()).draw();
        });

        $phone.on('keyup', function () {
            datatable.columns(3).search($(this).val()).draw();
        });

        $email.on('keyup', function () {
            datatable.columns(4).search($(this).val()).draw();
        });

        $status.on('change', function () {
            datatable.columns(5).search($(this).val()).draw();
        });

        // DataTable initialization
        const datatable = new DataTable('#datatable', {
            order: [],
            orderCellsTop: true,
            bFilter: false,
            iDisplayLength: 10,
            lengthChange: true,
            processing: true,
            serverSide: true,
            scrollX: true,
            columnDefs: [
                {
                    className: "dt-center",
                    targets: [0, 2, 3, 5, 6]
                },
                {
                    targets: '_all',
                    orderable: false,
                    createdCell: function (cell) {
                        $(cell).css('vertical-align', 'middle').css('padding', '10px');
                    }
                }],
            ajax: {
                url: "{% url 'adminlte:system-settings:users:datatable' %}",
                data: function (params) {
                    params.name = $name.val();
                    params.role = $role.val();
                    params.phone = $phone.val();
                    params.email = $email.val();
                    params.status = $status.val();
                },
            },
            columns: [
                {data: 'pk'},
                {data: 'name'},
                {data: 'role'},
                {data: 'phone'},
                {data: 'email'},
                {data: 'status'},
                {data: 'actions'}
            ],
            language: {
                url: 'https://cdn.datatables.net/plug-ins/2.2.2/i18n/uk.json'
            },
            createdRow: function (row, data) {
                $(row).find('td:not(:last-child)').on('click', function () {
                    document.location.href = `${data.pk}/`;
                })

                $(row).find('.delete-button').on('click', async function () {
                    const result = await Swal.fire({
                        title: "Ви дійсно хочете видалити цей об'єкт?",
                        icon: "question",
                        showDenyButton: true,
                        confirmButtonText: "Видалити",
                        denyButtonText: "Відмінити"
                    });

                    if (result.isConfirmed) {
                        $.ajax({
                            url: `${data.pk}/delete/`,
                            method: "DELETE", headers: {
                                "X-CSRFToken": "{{ csrf_token }}"
                            },
                            success: function () {
                                Swal.fire("Об'єкт успішно видалено", "", "success");
                                datatable.ajax.reload();
                            }
                        });
                    }
                });

                $(row).find('.invite-button').on('click', async function () {
                    const $button = $(this);

                    $.ajax({
                        url: `${data.pk}/invite/`,
                        method: "POST", headers: {
                            "X-CSRFToken": "{{ csrf_token }}"
                        },
                        success: function () {
                            Swal.fire("Запрошення успішно надіслано", "", "success");
                            datatable.ajax.reload();
                        }
                    });
                })
            }
        });
    </script>
{% endblock js %}