{% extends 'base_adminlte.html' %}
{% load static %}
{% block title %}
    Користувач
{% endblock title %}
{% block css %}
    <style>
    </style>
{% endblock css %}
{% block header %}
    Користувач
{% endblock header %}
{% block breadcrumb %}
    <li><li><a href="{% url 'adminlte:dashboard:index' %}"><i class="fa fa-home"></i> Головна</a></li></li>
    <li><a href="{% url 'adminlte:system-settings:users:list' %}">Користувачі</a></li>
    <li><a href="{% url 'adminlte:system-settings:users:detail' pk=form.instance.id %}">Користувач</a></li>
    <li class="active">Редагування</li>
{% endblock breadcrumb %}
{% block content %}
    <div class="box">
        <div class="box-body">
            <form id="user-form" method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <div class="form-group">
                            <label class="control-label">{{ form.first_name.label }}</label>
                            {{ form.first_name }}
                        </div>
                        <div class="form-group">
                            <label class="control-label">{{ form.last_name.label }}</label>
                            {{ form.last_name }}
                        </div>
                        <div class="form-group">
                            <label class="control-label">{{ form.phone_number.label }}</label>
                            {{ form.phone_number }}
                        </div>
                        {% if request.user.id != form.instance.id and not form.instance.is_superuser %}
                            <div class="form-group">
                                <label class="control-label">{{ form.role.label }}</label>
                                {{ form.role }}
                            </div>
                            <div class="form-group">
                                <label class="control-label">{{ form.status.label }}</label>
                                {{ form.status }}
                            </div>
                        {% else %}
                            <div style="display: none">
                                {{ form.role }}
                                {{ form.status }}
                            </div>
                        {% endif %}
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <div class="form-group">
                            <label class="control-label">{{ form.email.label }}</label>
                            {{ form.email }}
                        </div>
                        <div class="form-group">
                            <label class="control-label">{{ form.new_password.label }}</label>
                            <div class="input-group">
                                {{ form.new_password }}
                                <span class="input-group-btn">
                                    <button id="generate-password-button" class="btn btn-default" type="button">
                                        Згенерувати пароль
                                    </button>
                                    <button id="show-password-button" type="button" class="btn btn-primary">
                                        <i class="fa fa-eye" aria-hidden="true"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">{{ form.repeat_password.label }}</label>
                            {{ form.repeat_password }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 text-right">
                        <a href="{% url 'adminlte:system-settings:users:list' %}" class="btn btn-default">Відмінити</a>
                        <button id="submit-button" type="submit" class="btn btn-success">Редагувати</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
{% endblock content %}
{% block js %}
    <!--JQuery Validation-->
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/jquery.validate.min.js"></script>
    <!--Extend JQuery Validation methods-->
    <script src="{% static 'js/validation.js' %}"></script>
    <!--Generate / Show password-->
    <script src="{% static 'js/generate_password.js' %}"></script>
    <!--Input Mask-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/5.0.9/jquery.inputmask.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#id_phone_number').inputmask('+38(099)-999-99-99');

            const $form = $('#user-form');
            const $button = $('#submit-button');

            $form.on('focus blur keyup select', 'input,select', function () {
                validate_form();
            });

            const validate_form = function () {
                const is_valid = $form.validate({
                    rules: {
                        first_name: {
                            required: true,
                            minlength: 2,
                            maxlength: 20,
                        },
                        last_name: {
                            required: true,
                            minlength: 3,
                            maxlength: 20,
                        },
                        phone_number: {
                            required: true,
                            phone_ua: true,
                        },
                        role: {
                            required: true,
                        },
                        status: {
                            required: true,
                        },
                        email: {
                            required: true,
                            email: false,
                            valid_email: true,
                        },
                        new_password: {
                            minlength: 8,
                            strong_password: true,
                        },
                        repeat_password: {
                            equalTo: '#id_new_password',
                        }
                    },
                    messages: {
                        first_name: {
                            required: "Вкажіть ім'я",
                            minlength: "Ім'я повинне містити щонайменше 2 символи",
                            maxlength: "Ім'я не повинне перевищувати 20 символів",
                        },
                        last_name: {
                            required: "Вкажіть прізвище",
                            minlength: "Прізвище повинне містити щонайменше 3 символи",
                            maxlength: "Прізвище не повинне перевищувати 20 символів",
                        },
                        phone_number: {
                            required: "Вкажіть номер телефону",
                        },
                        role: {
                            required: "Вкажіть роль",
                        },
                        status: {
                            required: "Вкажіть статус"
                        },
                        email: {
                            required: "Вкажіть електронну пошту",
                        },
                        new_password: {
                            minlength: "Пароль повинен містити хоча б 8 символів",
                        },
                        repeat_password: {
                            equalTo: "Паролі не співпадають"
                        }
                    },
                    errorElement: 'small',
                    errorPlacement: function (error, element) {
                        error.css({'color': 'red'});
                        element.closest('.form-group').append(error);
                    },
                    highlight: function (element) {
                        $(element).closest('.form-group').addClass('has-error');
                    },
                    unhighlight: function (element) {
                        $(element).closest('.form-group').removeClass('has-error').addClass('has-success');
                    }
                }).checkForm();


                if (is_valid) {
                    $button.prop('disabled', false);
                } else {
                    $button.prop('disabled', 'disabled');
                }
            }
        });
    </script>
{% endblock js %}