{% extends 'base_adminlte.html' %}
{% load l10n %}
{% load static %}
{% block title %}
    Тариф: {{ tariff.name }}
{% endblock title %}
{% block css %}
    <style>
        td {
            vertical-align: middle !important;
        }

        #tariff-table {
            margin-bottom: 15px;
        }

        #tariff-table tr td:first-child {
            font-weight: bold;
        }
    </style>
{% endblock css %}
{% block header %}
    Тариф: {{ tariff.name }}
{% endblock header %}
{% block breadcrumb %}
    <li><a href="{% url 'adminlte:dashboard:index' %}"><i class="fa fa-home"></i> Головна</a></li>
    <li><a href="{% url 'adminlte:system-settings:tariffs:list' %}">Тарифи</a></li>
    <li class="active">Тариф: {{ tariff.name }}</li>
{% endblock breadcrumb %}
{% block content %}
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title"></h3>
            <div class="box-tools">
                <a href="{% url 'adminlte:system-settings:tariffs:update' pk=tariff.id %}"
                   class="btn btn-primary btn-sm">
                    <span class="hidden-xs">Редагувати тариф</span>
                    <i class="fa fa-pencil visible-xs" aria-hidden="true"></i>
                </a>
            </div>
        </div>
        <div class="box-body">
            <table class="table table-bordered table-striped" id="tariff-table">
                <tbody>
                <tr>
                    <td>Назва тарифу</td>
                    <td>
                        {{ tariff.name }}
                    </td>
                </tr>
                <tr>
                    <td>Опис</td>
                    <td>{{ tariff.description }}</td>
                </tr>
                <tr>
                    <td>Дата редагування</td>
                    <td>{{ tariff.updated_at|date:"d.m.Y-H:i" }}</td>
                </tr>
                </tbody>
            </table>
            <div class="table-responsive no-padding margin-top-15">
                <table class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Послуга</th>
                        <th>Одиниця вимірювання</th>
                        <th>Ціна за одиницю, грн</th>
                        <th>Валюта</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for service in tariff.services.all %}
                        <tr role="row">
                            <td>{{ forloop.counter }}</td>
                            <td>{{ service.service.name }}</td>
                            <td>{{ service.service.unit }}</td>
                            <td>{{ service.price|unlocalize }}</td>
                            <td>грн</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock content %}
{% block js %}
    <script>
    </script>
{% endblock js %}