{% extends 'base_adminlte.html' %}
{% load static %}
{% block title %}
    Домівки
{% endblock title %}
{% block css %}
    <link rel="stylesheet" href="{% static 'bower_components/select2/dist/css/select2.min.css' %}">
    <link rel="stylesheet" href="{% static 'bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/adjust_select2.css' %}">
    <link href="{% static 'ajax_datatable/css/style.css' %}" rel="stylesheet"/>
    <style>
        .box {
            padding: 0 6px;
            overflow-x: hidden;
        }

        th:last-child {
            width: 80px;
            min-width: 80px;
        }

        th:first-child {
            width: 120px;
            min-width: 120px;
        }
    </style>
{% endblock css %}
{% block header %}
    Домівки
{% endblock header %}
{% block breadcrumb %}
    <li><a><i class="fa fa-home"></i> Головна</a></li>
    <li class="active">Домівки</li>
{% endblock breadcrumb %}
{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <div class="pull-right margin-bottom">
                <a href="{% url 'adminlte_houses_create' %}" class="btn btn-success">Додати домівку</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title"></h3>
                    <div class="box-tools">
                        <a class="btn btn-default btn-sm" href="{% url 'adminlte_houses_list' %}">
                            <span class="hidden-xs">Очистити</span>
                            <i class="fa fa-eraser visible-xs" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
                <table id="datatable"
                       class="table table-striped table-bordered table-hover"
                       style="width:100%">
                </table>
            </div>
        </div>
    </div>

{% endblock content %}
{% block js %}
    <script src="{% static 'bower_components/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>
    <script src="{% static 'bower_components/select2/dist/js/select2.full.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'ajax_datatable/js/utils.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/initialize_datatable.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/restructure_datatable.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/adjust_rows_datatable.js' %}"></script>
    <script>
        $(document).ready(function () {
            const $datatable = $('#datatable');

            AjaxDatatableViewUtils.initialize_table(
                $datatable,
                "{% url 'adminlte_houses_datatable' %}",
                {
                    scrollX: false,
                }
            );

            $datatable.on('initComplete', function () {
                restructure_datatable();
            });

            $datatable.on('drawCallback', function () {
                adjust_rows();
            })
        })

        $(document).on('click', '.delete-button', async function () {
            const $button = $(this);

            const result = await Swal.fire({
                title: "Ви дійсно хочете видалити цей об'єкт?",
                icon: "question",
                showDenyButton: true,
                confirmButtonText: "Видалити",
                denyButtonText: "Відмінити"
            });

            if (result.isConfirmed) {
                $.ajax({
                    url: $button.attr('data-href'),
                    method: "DELETE", headers: {
                        "X-CSRFToken": "{{ csrf_token }}"
                    },
                    success: function () {
                        Swal.fire("Об'єкт успішно видалено", "", "success");
                        $button.closest('tr').remove();
                    }
                });
            }
        });

        $(document).on('click', 'tbody tr td:not(:last-child)', function () {
            window.location.assign($(this).closest('tr').find('.btn').attr('href'));
        })
    </script>
{% endblock js %}