{% extends 'base_adminlte.html' %}
{% load static %}
{% block title %}
    Власники квартир
{% endblock title %}
{% block css %}
    <!--Datatable-->
    <link rel="stylesheet" href="https://cdn.datatables.net/2.2.2/css/dataTables.bootstrap.css">
    <!--Select2-->
    <link rel="stylesheet" href="{% static 'bower_components/select2/dist/css/select2.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/adjust_select2.css' %}">
    <!--Datepicker-->
    <link rel="stylesheet"
          href="{% static 'bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css' %}">
    <style>
        .box {
            padding: 0 6px;
            overflow-x: hidden;
        }

        th.dt-orderable-asc, th.dt-orderable-desc {
            color: #337ab7;
        }

        tbody tr td:not(:last-child) {
            cursor: pointer;
        }
    </style>
{% endblock css %}
{% block header %}
    Власники квартир
{% endblock header %}
{% block breadcrumb %}
    <li><a href="{% url 'adminlte:dashboard:index' %}"><i class="fa fa-home"></i> Головна</a></li>
    <li class="active">Власники квартир</li>
{% endblock breadcrumb %}
{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <div class="btn-group pull-right margin-bottom">
                <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">Виберіть дію <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="{% url 'adminlte:flat-owners:create' %}">Додати власника квартири</a></li>
                    <li><a href="{% url 'adminlte:messages:create' %}?to_debtors=true">Надіслати повідомлення
                        боржникам</a></li>
                    <li><a href="{% url 'adminlte:flat-owners:invite' %}">Надіслати запрошення</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title"></h3>
                    <div class="box-tools">
                        <a href="{{ request.build_absolute_uri }}"
                           class="btn btn-default btn-sm">
                            <span class="hidden-xs">Очистити</span>
                            <i class="fa fa-eraser visible-xs" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
                <table id="datatable" class="table table-bordered table-hover table-striped">
                    <thead>
                    <tr>
                        <th style="min-width: 100px; width: 100px">ID</th>
                        <th style="min-width: 250px; width: 250px">ПІБ</th>
                        <th style="min-width: 200px; width: 200px">Телефон</th>
                        <th style="min-width: 200px; width: 200px">E-Mail</th>
                        <th style="min-width: 200px; width: 200px">Будинок</th>
                        <th style="min-width: 200px; width: 200px">Квартира</th>
                        <th style="min-width: 120px; width: 120px">Додано</th>
                        <th style="min-width: 100px; width: 100px">Статус</th>
                        <th style="min-width: 100px; width: 100px">Є борг</th>
                        <th style="min-width: 114px; width: 114px"></th>
                    </tr>
                    <tr>
                        <th>{{ filters.ID }}</th>
                        <th>{{ filters.full_name }}</th>
                        <th>{{ filters.phone }}</th>
                        <th>{{ filters.email }}</th>
                        <th>{{ filters.house }}</th>
                        <th>{{ filters.flat }}</th>
                        <th>{{ filters.date_joined }}</th>
                        <th>{{ filters.status }}</th>
                        <th>{{ filters.has_debt }}</th>
                        <th></th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
{% endblock content %}
{% block js %}
    <!--Datatables-->
    <script src="https://cdn.datatables.net/2.2.2/js/dataTables.js"></script>
    <script src="https://cdn.datatables.net/2.2.2/js/dataTables.bootstrap.js"></script>
    <!--Select2-->
    <script src="{% static 'bower_components/select2/dist/js/select2.full.min.js' %}"></script>
    <!--Set default language locale for Select2 components-->
    <script src="{% static 'bower_components/select2/dist/js/i18n/uk.js' %}"></script>
    <script>
        $.fn.select2.defaults.set('language', 'uk');
        $.fn.select2.defaults.set('width', '100%');
        $.fn.select2.defaults.set('placeholder', 'Виберіть...');
        $.fn.select2.defaults.set('allowClear', true);
    </script>
    <!--Datepicker-->
    <script src="{% static 'bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js' %}"></script>
    <!--Datepicker Localization-->
    <script src="{% static 'bower_components/bootstrap-datepicker/js/locales/bootstrap-datepicker.uk.js' %}"></script>
    <script>
        const $ID = $('#id_ID');
        const $full_name = $('#id_full_name');
        const $phone = $('#id_phone');
        const $email = $('#id_email');
        const $house = $('#id_house');
        const $flat = $('#id_flat');
        const $date = $('#id_date_joined');
        const $status = $('#id_status');
        const $has_debt = $('#id_has_debt');

        $house.select2({
            ajax: {
                url: "{% url 'adminlte:flat-owners:houses' %}",
                processResults: data => ({results: data})
            }
        });

        $date.datepicker({
            autoclose: true,
            language: 'uk',
            clearBtn: true
        })

        $status.select2({
            minimumResultsForSearch: -1
        });

        $has_debt.select2({
            minimumResultsForSearch: -1
        });

        $ID.on('keyup', function () {
            datatable.columns(0).search($(this).val()).draw();
        });

        $full_name.on('keyup', function () {
            datatable.columns(1).search($(this).val()).draw();
        });

        $phone.on('keyup', function () {
            datatable.columns(2).search($(this).val()).draw();
        });

        $email.on('keyup', function () {
            datatable.columns(3).search($(this).val()).draw();
        });

        $house.on('change', function () {
            datatable.columns(4).search($(this).val()).draw();
        });

        $flat.on('keyup', function () {
            datatable.columns(5).search($(this).val()).draw();
        });

        $date.on('changeDate', function () {
            datatable.columns(6).search($(this).val()).draw();
        });

        $status.on('change', function () {
            datatable.columns(7).search($(this).val()).draw();
        });

        $has_debt.on('change', function () {
            datatable.columns(8).search($(this).val()).draw();
        });

        // DataTable initialization
        const datatable = new DataTable('#datatable', {
                order: [],
                orderCellsTop: true,
                bFilter: false,
                iDisplayLength: 10,
                lengthChange: true,
                processing: true,
                serverSide: true,
                scrollX: true,
                columnDefs: [
                    {
                        targets: '_all',
                        createdCell: function (cell) {
                            $(cell).css('vertical-align', 'middle').css('padding', '10px');
                        }
                    },
                    {
                        targets: [0, 2, 6, 7, 8],
                        className: "dt-center"
                    },
                    {
                        targets: [0, 2, 3, 4, 5, 7, 8, 9],
                        orderable: false,
                    },
                    {
                        targets: [1, 6],
                        orderable: true,
                    },
                ],
                ajax: {
                    url: "{% url 'adminlte:flat-owners:datatable' %}",
                    data: function (params) {
                        params.ID = $ID.val();
                        params.full_name = $full_name.val();
                        params.phone = $phone.val();
                        params.email = $email.val();
                        params.house = $house.val();
                        params.flat = $flat.val();
                        params.date = $date.val();
                        params.status = $status.val();
                        params.has_debt = $has_debt.val();
                    }
                },
                columns: [
                    {data: 'ID'},
                    {data: 'full_name'},
                    {data: 'phone'},
                    {data: 'email'},
                    {data: 'houses'},
                    {data: 'apartments'},
                    {data: 'date'},
                    {data: 'status'},
                    {data: 'has_debt'},
                    {data: 'actions'}
                ],
                language:
                    {
                        url: 'https://cdn.datatables.net/plug-ins/2.2.2/i18n/uk.json'
                    }
                ,
                createdRow: function (row, data) {
                    $(row).find('td:not(:last-child)').on('click', function () {
                        document.location.href = `${data.pk}/`;
                    });

                    $(row).find('.delete-button').on('click', async function () {
                        const result = await Swal.fire({
                            title: "Ви дійсно хочете видалити цей об'єкт?",
                            icon: "question",
                            showDenyButton: true,
                            confirmButtonText: "Видалити",
                            denyButtonText: "Відмінити"
                        });

                        if (result.isConfirmed) {
                            $.ajax({
                                url: `${data.pk}/delete/`,
                                method: "DELETE", headers: {
                                    "X-CSRFToken": "{{ csrf_token }}"
                                },
                                success: function () {
                                    Swal.fire("Об'єкт успішно видалено", "", "success");
                                    datatable.ajax.reload();
                                }
                            });
                        }
                    });
                },
            })
        ;
    </script>
{% endblock js %}