{% extends 'base_adminlte.html' %}
{% load static %}
{% block title %}
    Нова квитанція
{% endblock title %}
{% block css %}
    <!--Datatable-->
    <link rel="stylesheet" href="https://cdn.datatables.net/2.2.2/css/dataTables.bootstrap.css">
    <!--Select2-->
    <link rel="stylesheet" href="{% static 'bower_components/select2/dist/css/select2.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/adjust_select2.css' %}">
    <style>
        .page-header-spec {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            margin-bottom: 15px;
            margin-left: 15px;
        }

        .page-header-spec .form-group {
            margin-bottom: 0;
        }

        @media screen and (max-width: 768px) {
            .page-header-spec .form-group {
                margin-bottom: 15px;
            }

            .page-header-spec .label-mid {
                margin: 0 15px 15px 15px;
            }
        }

        @media screen and (min-width: 768px) {
            .page-header-spec .label-mid {
                margin: 0 15px;
            }
        }

        .action-buttons .btn {
            margin-bottom: 15px;
        }
    </style>
{% endblock css %}
{% block header %}
    Нова квитанція
{% endblock header %}
{% block breadcrumb %}
    <li><a><i class="fa fa-home"></i> Головна</a></li>
    <li><a>Квитанції</a></li>
    <li class="active">Нова квитанція</li>
{% endblock breadcrumb %}
{% block content %}
    <form id="receipt-form" method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col-xs-12 col-md-7 col-lg-6">
                <div class="page-header-spec">
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"> № </span>
                            {{ form.no }}
                        </div>
                    </div>
                    <span class="label-mid">від</span>
                    <div class="form-group">
                        <div class="input-group date">
                            <span class="input-group-addon kv-date-calendar" title="Вибрати дату">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </span>
                            {{ form.date }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-7 col-lg-6">
                <div class="btn-group pull-right margin-bottom">
                    <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                        Виберіть дію <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="set-services">Встановити всі послуги відповідно до тарифу</a></li>
                        <li><a class="add-indicators">Додати показники лічильників</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="box">
            <div class="box-body">
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group">
                            <label>{{ form.house.label }}</label>
                            {{ form.house }}
                        </div>
                        <div class="form-group">
                            <label>{{ form.section.label }}</label>
                            {{ form.section }}
                        </div>
                        <div class="form-group">
                            <label>{{ form.flat.label }}</label>
                            {{ form.flat }}
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group">
                            {{ form.is_complete }}
                            <label>{{ form.is_complete.label }}</label>
                        </div>
                        <div class="form-group">
                            <label>{{ form.status.label }}</label>
                            {{ form.status }}
                        </div>
                        <div class="form-group">
                            <label>{{ form.tariff.label }}</label>
                            {{ form.tariff }}
                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label>{{ form.period_from.label }}</label>
                                    <div class="input-group date">
                                        <span class="input-group-addon kv-date-calendar" title="Вибрати дату">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </span>
                                        {{ form.period_from }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label>{{ form.period_to.label }}</label>
                                    <div class="input-group date">
                                        <span class="input-group-addon kv-date-calendar" title="Вибрати дату">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </span>
                                        {{ form.period_to }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group">
                            <label>{{ form.personal_account.label }}</label>
                            {{ form.personal_account }}
                        </div>
                        <p><b>Власник:</b> <a id="user-name"></a></p>
                        <p><b>Телефон:</b> <a id="user-phone"></a></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="table-responsive no-padding">
                            <table id="receipt-services" class="table table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th style="display: none"></th>
                                    <th style="min-width: 300px; width: 100%;">Послуга</th>
                                    <th style="min-width: 150px; width: 100px;">Витрата</th>
                                    <th style="min-width: 150px; min-width: 150px;">Од. вим.</th>
                                    <th style="min-width: 150px;">Ціна за од. вим.</th>
                                    <th style="min-width: 200px; width: 200px;">Вартість</th>
                                    <th style="min-width: 40px; width: 40px; "></th>
                                </tr>
                                </thead>
                                <tbody>
                                {{ formset.management_form }}
                                {% for receipt_service in formset %}
                                    <tr>
                                        <td class="indicator" style="display: none">{{ receipt_service.meter_indicator }}</td>
                                        <td class="service">{{ receipt_service.service }}</td>
                                        <td class="value">{{ receipt_service.value }}</td>
                                        <td class="unit">{{ receipt_service.unit }}</td>
                                        <td class="price">{{ receipt_service.price }}</td>
                                        <td class="total"><input type="number" class="form-control"></td>
                                        <td class="delete">
                                            <div style="display:none">{{ receipt_service.DELETE }}</div>
                                            <button type="button" class="btn btn-default btn-sm delete-service"
                                                    title="Видалити послугу">
                                                <i class="fa fa-trash"></i>
                                            </button>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                                <tfoot>
                                <td colspan="4" valing="middle">
                                    <button id="add-service" type="button" class="btn btn-default btn-hover-change">
                                        Додати послугу
                                    </button>
                                    <button type="button" class="set-services btn btn-default">
                                        Встановити всі послуги відповідно до тарифу
                                    </button>
                                    <button type="button" class="add-indicators btn btn-default">
                                        Додати показники лічильників
                                    </button>
                                </td>
                                <td style="min-width: 180px;">
                                    <div class="h4">
                                        Загалом: <b><span id="total-cost">0.00</span></b> грн
                                    </div>
                                </td>
                                <td style="width: 40px; min-width: 40px;"></td>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 text-right">
                        <div class="form-group">
                            <a class="btn btn-default">Відмінити</a>
                            <button type="submit" class="btn btn-success">Зберегти</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">Показники рахунків</h3>
                    </div>
                    <div class="box-body table-responsive no-padding">
                        <table id="datatable" class="table table-bordered table-hover table-striped table-nowrap">
                            <thead>
                            <tr>
                                <th style="width: 80px; min-width: 80px">№</th>
                                <th style="width: 200px; min-width: 200px">Статус</th>
                                <th style="width: 80px; min-width: 80px">Дата</th>
                                <th style="width: 100px; min-width: 100px">Місяць</th>
                                <th style="width: 150px; min-width: 150px">Будинок</th>
                                <th style="width: 150px; min-width: 150px">Секція</th>
                                <th style="width: 100px; min-width: 100px">№ квартири</th>
                                <th style="width: 200px; min-width: 200px">Послуга</th>
                                <th style="width: 80px; min-width: 80px">Показник</th>
                                <th style="width: 80px; min-width: 80px">Од. вим.</th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock content %}
{% block js %}
    <!--Datatables-->
    <script src="https://cdn.datatables.net/2.2.2/js/dataTables.js"></script>
    <script src="https://cdn.datatables.net/2.2.2/js/dataTables.bootstrap.js"></script>
    <!--Select2-->
    <script src="{% static 'bower_components/select2/dist/js/select2.full.min.js' %}"></script>
    <!--Set default language locale for Select2 components-->
    <script src="{% static 'bower_components/select2/dist/js/i18n/uk.js' %}"></script>
    <!--Datepicker-->
    <script src="{% static 'bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js' %}"></script>
    <!--Datepicker Localization-->
    <script src="{% static 'bower_components/bootstrap-datepicker/js/locales/bootstrap-datepicker.uk.js' %}"></script>
    <!--JQuery Validation-->
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/jquery.validate.min.js"></script>
    <!--Extend JQuery Validation methods-->
    <script src="{% static 'js/validation.js' %}"></script>
    <script>
        const csrf_token = '{{ csrf_token }}';
    </script>
    <script defer src="{% static 'payment_receipts/adminlte/receipt/js/inputs.js' %}"></script>
    <script defer src="{% static 'payment_receipts/adminlte/receipt/js/validation.js' %}"></script>
    <script defer src="{% static 'payment_receipts/adminlte/receipt/js/on_flat_select.js' %}"></script>
    <script defer src="{% static 'payment_receipts/adminlte/receipt/js/on_account_unfocus.js' %}"></script>
    <script defer src="{% static 'payment_receipts/adminlte/receipt/js/update_costs.js' %}"></script>
    <script defer src="{% static 'payment_receipts/adminlte/receipt/js/formset.js' %}"></script>
    <script defer src="{% static 'payment_receipts/adminlte/receipt/js/set_services.js' %}"></script>
    <script defer src="{% static 'payment_receipts/adminlte/receipt/js/add_indicators.js' %}"></script>
    <script defer src="{% static 'payment_receipts/adminlte/receipt/js/datatable.js' %}"></script>
{% endblock js %}