{% extends 'base_adminlte.html' %}
{% load group_thousands %}
{% load static %}
{% block title %}
    Квитанції
{% endblock title %}
{% block css %}
    <!--Datatable-->
    <link rel="stylesheet" href="https://cdn.datatables.net/2.2.2/css/dataTables.bootstrap.css">
    <!--Select2-->
    <link rel="stylesheet" href="{% static 'bower_components/select2/dist/css/select2.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/adjust_select2.css' %}">
    <!--Daterange picker-->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css"/>
    <!--Datepicker-->
    <link rel="stylesheet"
          href="{% static 'bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css' %}">
    <style>
        .box {
            padding: 0 6px;
            overflow-x: hidden;
        }

        table#datatable {
            table-layout: fixed;
            width: 100%;
        }

        th.dt-orderable-asc, th.dt-orderable-desc {
            color: #337ab7;
        }

        tbody tr td:not(:last-child) {
            cursor: pointer;
        }
    </style>
{% endblock css %}
{% block header %}
    Квитанції
{% endblock header %}
{% block breadcrumb %}
    <li><a><i class="fa fa-home"></i> Головна</a></li>
    <li class="active">Квитанції</li>
{% endblock breadcrumb %}
{% block content %}
    <div class="row">
        <div class="col-xs-12 col-lg-9">
            <div class="row">
                <div class="col-xs-12 col-md-4">
                    <div class="small-box bg-green overflow-hidden">
                        <div class="inner">
                            <h3>{{ cash_balance|group_thousands }} грн</h3>
                            <p>Стан каси</p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-dollar"></i>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-4">
                    <div class="small-box bg-blue overflow-hidden">
                        <div class="inner">
                            <h3>{{ account_balance|group_thousands }} грн</h3>
                            <p>Баланс по рахункам</p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-dollar"></i>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-4">
                    <div class="small-box bg-red overflow-hidden">
                        <div class="inner">
                            <h3>{{ receipt_debt|group_thousands }} грн</h3>
                            <p>Заборгованість по рахункам</p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-dollar"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-lg-3">
            <div class="btn-group pull-right margin-bottom">
                <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                    Виберіть дію
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="{% url 'adminlte:receipts:create' %}">Додати квитанцію</a></li>
                    <li><a type="button" id="delete-many">Видалити</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title"></h3>
                    <div class="box-tools">
                        <a href="../receipts/"
                           class="btn btn-default btn-sm">
                            <span class="hidden-xs">Очистити</span>
                            <i class="fa fa-eraser visible-xs" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
                <table id="datatable"
                       class="table table-bordered table-hover table-striped">
                    <thead>
                    <tr>
                        <th>
                            <input id="checkbox-toggle" type="checkbox">
                        </th>
                        <th style="min-width: 125px; width: 125px">№ квитанції</th>
                        <th style="min-width: 125px; width: 125px">Статус</th>
                        <th style="min-width: 125px; width: 125px">Дата</th>
                        <th style="min-width: 125px; width: 125px">Місяць</th>
                        <th style="min-width: 250px; width: 250px">Квартира</th>
                        <th style="min-width: 250px; width: 250px">Власник</th>
                        <th style="min-width: 125px; width: 125px">Проведена</th>
                        <th style="min-width: 125px; width: 125px">Сума (грн)</th>
                        <th><!--Actions--></th>
                    </tr>
                    <tr>
                        <th><!--Checkbox--></th>
                        <th>{{ filters.no }}</th>
                        <th>{{ filters.status }}</th>
                        <th>{{ filters.date }}</th>
                        <th>{{ filters.month }}</th>
                        <th>{{ filters.flat }}</th>
                        <th>{{ filters.owner }}</th>
                        <th>{{ filters.is_complete }}</th>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
{% endblock content %}
{% block js %}
    <!--Datatables-->
    <script src="https://cdn.datatables.net/2.2.2/js/dataTables.js"></script>
    <script src="https://cdn.datatables.net/2.2.2/js/dataTables.bootstrap.js"></script>
    <!--Select2-->
    <script src="{% static 'bower_components/select2/dist/js/select2.full.min.js' %}"></script>
    <!--Set default language locale for Select2 components-->
    <script src="{% static 'bower_components/select2/dist/js/i18n/uk.js' %}"></script>
    <!--Daterange Picker-->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <!--Datepicker-->
    <script src="{% static 'bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js' %}"></script>
    <!--Datepicker Localization-->
    <script src="{% static 'bower_components/bootstrap-datepicker/js/locales/bootstrap-datepicker.uk.js' %}"></script>
    <script>
        $.fn.select2.defaults.set('language', 'uk');
        $.fn.select2.defaults.set('width', '100%');
        $.fn.select2.defaults.set('placeholder', 'Виберіть...');
        $.fn.select2.defaults.set('allowClear', true);
    </script>
    <script>
        const $no = $('#id_no');
        const $status = $('#id_status');
        const $date = $('#id_date');
        const $month = $('#id_month');
        const $flat = $('#id_flat');
        const $owner = $('#id_owner');
        const $is_complete = $('#id_is_complete');

        $status.select2({
            minimumResultsForSearch: -1
        });

        $owner.select2({
            ajax: {
                url: "{% url 'adminlte:receipts:owners' %}",
                processResults: data => ({results: data})
            }
        });

        $is_complete.select2({
            minimumResultsForSearch: -1
        });

        $date.daterangepicker({
            autoUpdateInput: false,
            opens: 'right',
            locale: {
                format: 'DD.MM.YYYY',
                "applyLabel": "Ок",
                "cancelLabel": "Скасувати",
                "fromLabel": "Від",
                "toLabel": "До",
                "customRangeLabel": "Власний",
                "daysOfWeek": [
                    "Нд",
                    "Пн",
                    "Вт",
                    "Ср",
                    "Чт",
                    "Пт",
                    "Сб"
                ],
                "monthNames": [
                    "Січень",
                    "Лютий",
                    "Березень",
                    "Квітень",
                    "Травень",
                    "Червень",
                    "Липень",
                    "Серпень",
                    "Вересень",
                    "Жовтень",
                    "Листопад",
                    "Грудень"
                ],
                firstDay: 1
            }
        });

        $date.on('apply.daterangepicker', function (ev, picker) {
            $(this).val(picker.startDate.format('DD.MM.YYYY') + ' - ' + picker.endDate.format('DD.MM.YYYY')).trigger('change');
            datatable.columns(3).search($(this).val()).draw();
        });

        $date.on('cancel.daterangepicker', function (ev, picker) {
            $(this).val('').trigger('change');
            datatable.columns(3).search($(this).val()).draw();
        });

        $no.on('keyup', function () {
            datatable.columns(1).search($(this).val()).draw();
        });

        $status.on('change', function () {
            datatable.columns(2).search($(this).val()).draw();
        });

        $month.on('changeDate', function () {
            datatable.columns(4).search($(this).val()).draw();
        });

        $flat.on('keyup', function () {
            datatable.columns(5).search($(this).val()).draw();
        });

        $owner.on('change', function () {
            datatable.columns(6).search($(this).val()).draw();
        });

        $is_complete.on('change', function () {
            datatable.columns(7).search($(this).val()).draw();
        });

        $month.datepicker({
            autoclose: true,
            language: 'uk',
            format: "mm.yyyy",
            viewMode: "months",
            minViewMode: "months",
            clearBtn: true
        });

        const selected_ids = new Set();

        const $checkbox_toggle = $('input#checkbox-toggle');

        $checkbox_toggle.on('change', function () {
            $('tbody input[type=checkbox]')
                .prop('checked', $checkbox_toggle.prop('checked'))
                .trigger('change');
        });

        $(document).on('click', '#delete-many', async function () {
            const result = await Swal.fire({
                title: "Ви дійсно хочете видалити ці об'єкти?",
                icon: "question",
                showDenyButton: true,
                confirmButtonText: "Видалити",
                denyButtonText: "Відмінити"
            });

            if (result.isConfirmed) {
                $.ajax({
                    url: "{% url 'adminlte:receipts:delete-many' %}",
                    method: "POST",
                    data: {
                        selected_ids: Array.from(selected_ids)
                    },
                    headers: {
                        "X-CSRFToken": "{{ csrf_token }}"
                    },
                    success: function () {
                        Swal.fire("Об'єкти успішно видалено", "", "success");
                        datatable.ajax.reload();
                    }
                });
            }
        });

        //Datatable setup
        const datatable = new DataTable('#datatable', {
            order: [],
            orderCellsTop: true,
            bFilter: false,
            iDisplayLength: 10,
            lengthChange: true,
            processing: true,
            serverSide: true,
            scrollX: true,
            columnDefs: [
                {
                    targets: '_all',
                    createdCell: function (cell) {
                        $(cell).css('vertical-align', 'middle').css('padding', '10px');
                    }
                },
                {
                    targets: [0, 1, 2, 5, 6, 7, 8, 9],
                    orderable: false,
                },
                {
                    targets: [3, 4],
                    orderable: true,
                },
                {
                    className: "dt-center",
                    targets: [0, 1, 2, 3, 4, 7, 8, 9]
                },
            ],
            ajax: {
                url: "{% url 'adminlte:receipts:datatable' %}",
                data: function (params) {
                    params.no = $no.val();
                    params.status = $status.val();
                    params.date = $date.val();
                    params.month = $month.val();
                    params.flat = $flat.val();
                    params.owner = $owner.val();
                    params.is_complete = $is_complete.val();
                }
            },
            columns: [
                {
                    data: null,
                    render: function () {
                        return "<input type='checkbox'>"
                    }
                },
                {'data': 'no'},
                {'data': 'status'},
                {'data': 'date'},
                {'data': 'month'},
                {'data': 'flat'},
                {'data': 'owner'},
                {'data': 'is_complete'},
                {'data': 'total_price'},
                {'data': 'actions'}
            ],
            language:
                {
                    url: 'https://cdn.datatables.net/plug-ins/2.2.2/i18n/uk.json'
                }
            ,
            drawCallback: function () {
                $checkbox_toggle.prop('checked', '');
            },
            createdRow: function (row, data) {
                $(row).find('td:not(:last-child)').on('click', function () {
                    document.location.href = `${data.pk}/`;
                });

                const $checkbox = $(row).find('input[type="checkbox"]');

                if (selected_ids.has(data.pk)) {
                    $checkbox.prop('checked', 'checked');
                }

                $checkbox.on('change', function () {
                    if ($checkbox.prop('checked')) {
                        selected_ids.add(data.pk);
                    } else {
                        selected_ids.delete(data.pk);
                    }
                });


                $(row).find('.delete-button').on('click', async function () {
                    const result = await Swal.fire({
                        title: "Ви дійсно хочете видалити цей об'єкт?",
                        icon: "question",
                        showDenyButton: true,
                        confirmButtonText: "Видалити",
                        denyButtonText: "Відмінити"
                    });

                    if (result.isConfirmed) {
                        $.ajax({
                            url: `${data.pk}/delete/`,
                            method: "DELETE", headers: {
                                "X-CSRFToken": "{{ csrf_token }}"
                            },
                            success: function () {
                                Swal.fire("Об'єкт успішно видалено", "", "success");
                                datatable.ajax.reload();
                            }
                        });
                    }
                });
            },
        });
    </script>
{% endblock js %}