{% extends 'base_adminlte.html' %}
{% load static %}
{% block title %}
    Налаштування шаблонів
{% endblock title %}
{% block css %}
    <style>
        .template {
            margin-bottom: 15px;
        }

        .template a {
            display: inline-block;
            margin-right: 15px;
        }

        .template form {
            display: inline-block;
        }
    </style>
{% endblock css %}
{% block header %}
    Налаштування шаблонів
{% endblock header %}
{% block breadcrumb %}
    <li><a href="{% url 'adminlte:dashboard:index' %}"><i class="fa fa-home"></i> Головна</a></li>
    <li><a href="{% url 'adminlte:receipts:list' %}">Квитанції</a></li>
    <li class="active">Налаштування шаблонів</li>
{% endblock breadcrumb %}
{% block content %}
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Список шаблонів</h3>
        </div>
        <div class="box-body">
            {% for template in templates %}
                <div class="template">
                    <p>
                        {{ template.title }}
                        {% if template.is_selected %}
                            <span class="text-bold">(За замовчуванням)</span>
                        {% endif %}
                    </p>
                    <a download href="{{ template.file.url }}">
                        <i class="fa fa-download" aria-hidden="true"></i>
                        Завантажити шаблон
                    </a>
                    <form method="post"
                          action="{% url 'adminlte:receipts:templates:select-as-default' pk=template.pk %}">
                        {% csrf_token %}
                        <a href="#" type="button" class="set-default text-success">
                            • Визначити шаблоном за замовчуванням
                        </a>
                    </form>
                    <form method="post" action="{% url 'adminlte:receipts:templates:delete' pk=template.pk %}">
                        {% csrf_token %}
                        <a href="#" class="delete-button text-danger">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                            Видалити шаблон
                        </a>
                    </form>
                </div>
            {% endfor %}
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <form id="upload-template-form" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group">
                            <label>{{ form.file.label }}</label>
                            {{ form.file }}
                        </div>
                        <div class="form-group">
                            <label>{{ form.title.label }}</label>
                            {{ form.title }}
                        </div>
                        <div class="pull-right">
                            <a class="btn btn-default" href="{% url 'adminlte:receipts:list' %}">
                                Відмінити
                            </a>
                            <button type="submit" class="btn btn-success">
                                Зберегти
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
{% block js %}
    <!--JQuery Validation-->
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/jquery.validate.min.js"></script>
    <script>
        $(document).ready(function () {
            const $form = $('#upload-template-form');
            const $button = $('button[type=submit]');

            const $set_default = $('.set-default');
            const $delete_button = $('.delete-button');

            const $title = $('#id_title');
            const $file = $('#id_file');

            $set_default.on('click', function () {
                this.closest('form').submit();
            });

            $delete_button.on('click', async function () {
                const result = await Swal.fire({
                    title: "Ви дійсно хочете видалити цей об'єкт?",
                    icon: "question",
                    showDenyButton: true,
                    confirmButtonText: "Видалити",
                    denyButtonText: "Відмінити"
                });

                if (result.isConfirmed) this.closest('form').submit();
            });

            $form.on('focus blur keyup', 'input', function () {
                validate_form();
            });

            $title.on('keyup', function () {
                $file.valid();
            });

            $file.on('change', function () {
                $title.valid();
            });

            const validate_form = function () {
                const isValid = $form.validate({
                    rules: {
                        file: {
                            required: function () {
                                return Boolean($title.val())
                            },
                        },
                        title: {
                            required: function () {
                                return Boolean($file.val())
                            },
                            minlength: 5
                        }
                    },
                    messages: {
                        file: {
                            required: "Завантажте шаблон",
                        },
                        title: {
                            required: "Вкажіть назву шаблону",
                            minlength: "Назва шаблону має бути мінімум 5 символів"
                        }
                    },
                    errorElement: 'small',
                    errorPlacement: function (error, element) {
                        error.css({'color': 'red'});
                        element.closest('.form-group').append(error);
                    },
                    highlight: function (element) {
                        $(element).closest('.form-group').addClass('has-error');
                    },
                    unhighlight: function (element) {
                        $(element).closest('.form-group').removeClass('has-error').addClass('has-success');
                    }
                }).checkForm();


                if (isValid) {
                    $button.prop('disabled', false);
                } else {
                    $button.prop('disabled', 'disabled');
                }
            }
        });
    </script>
{% endblock js %}