{% extends 'authentication/password_reset/base.html' %}
{% block css %}
    <style>
        #reset-password-message {
            text-align: justify;
        }
    </style>
{% endblock css %}
{% block form %}
    <p id="reset-password-message">
        Ми надіслали вам інструкції щодо встановлення паролю, якщо обліковий запис існує на введену вами адресу
        електронної пошти. Ви маєте отримати їх найближчим часом. Якщо ви не отримали листа, будь ласка, переконайтеся, що ви ввели адресу, на яку зареєструвалися, і перевірте
        папку «Спам».
    </p>
{% endblock form %}
{% block js %}
{% endblock js %}