{% extends 'authentication/password_reset/base.html' %}
{% block form %}
    <p class="login-box-msg">Зміна паролю</p>
    <form id="reset-password-form" method="post">
        {% csrf_token %}
        <div class="form-group has-feedback">
            {{ form.email }}
            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
        </div>
        <button id="submit-button" type="submit" class="btn btn-primary btn-block btn-flat">Відправити повідомлення на
            пошту
        </button>
    </form>
{% endblock form %}
{% block js %}
    <script>
        $(document).ready(function () {
            const $form = $('#reset-password-form');
            const $button = $('#submit-button');

            $form.on('focus blur keyup', 'input', function () {
                validateForm();
            });

            const validateForm = function () {
                const isValid = $form.validate({
                    rules: {
                        email: {
                            required: true,
                            email: false,
                            valid_email: true
                        },
                    },
                    messages: {
                        email: {
                            required: "Вкажіть електронну пошту",
                        },
                    },
                    errorElement: 'small',
                    errorPlacement: function (error, element) {
                        error.css({'color': 'red'});
                        element.closest('.form-group').append(error);
                    },
                    highlight: function (element) {
                        $(element).closest('.form-group').addClass('has-error');
                    },
                    unhighlight: function (element) {
                        $(element).closest('.form-group').removeClass('has-error');
                    }
                }).checkForm();

                if (isValid) {
                    $button.prop('disabled', false);
                } else {
                    $button.prop('disabled', 'disabled');
                }
            }
        })
    </script>
{% endblock js %}