{% extends 'authentication/password_reset/password_reset_base.html' %}
{% block css %}
    <style>
        #reset-password-message {
            text-align: center;
        }
    </style>
{% endblock css %}
{% block form %}
    <p class="login-box-msg">Зміна паролю</p>
    {% if validlink %}
        <form id="reset-password-form" method="post">
            {% csrf_token %}
            <div class="form-group has-feedback">
                {{ form.new_password1 }}
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                {{ form.new_password2 }}
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <button id="submit-button" type="submit" class="btn btn-primary btn-block btn-flat">Змінити пароль
            </button>
        </form>
    {% else %}
        <p id="reset-password-message"><i class="fa fa-warning text-yellow"></i> Посилання не дійсне</p>
    {% endif %}
{% endblock form %}
{% block js %}
    {% if validlink %}
        <script>
            $(document).ready(function () {
                const $form = $('#reset-password-form');
                const $button = $('#submit-button');

                $form.on('focus blur keyup', 'input', function () {
                    validateForm();
                });

                const validateForm = function () {
                    const isValid = $form.validate({
                        rules: {
                            new_password1: {
                                required: true,
                                minlength: 8,
                                maxlength: 255,
                                strong_password: true
                            },
                            new_password2: {
                                required: true,
                                equalTo: "#id_new_password1"
                            }
                        },
                        messages: {
                            new_password1: {
                                required: "Вкажіть пароль",
                                minlength: "Пароль повинен містити щонайменше 8 символів",
                                maxlength: "Пароль не повинен перевищувати 255 символів",
                                strong_password: "Пароль повинен містити щонайменше одну велику літеру та одну цифру"
                            },
                            new_password2: {
                                required: "Підтвердіть пароль",
                                equalTo: "Паролі не збігаються"
                            }
                        },
                        errorElement: 'small',
                        errorPlacement: function (error, element) {
                            error.css({'color': 'red'});
                            element.closest('.form-group').append(error);
                        },
                        highlight: function (element) {
                            $(element).closest('.form-group').addClass('has-error');
                        },
                        unhighlight: function (element) {
                            $(element).closest('.form-group').removeClass('has-error');
                        }
                    }).checkForm();


                    if (isValid) {
                        $button.prop('disabled', false);
                    } else {
                        $button.prop('disabled', 'disabled');
                    }
                }
            });
        </script>
    {% endif %}
{% endblock js %}