{% extends 'authentication/password_reset/password_reset_base.html' %}
{% block css %}
    <style>
        #reset-email-message {
            text-align: justify;
        }
    </style>
{% endblock css %}
{% block form %}
    <p id="reset-password-message">
        Ваш пароль встановлено. Ви можете увійти в систему.
    </p>
    <a href="{% url 'authentication_adminlte_login' %}" class="btn btn-primary btn-block btn-flat">Ввійти в системи
    </a>
{% endblock form %}
{% block js %}
{% endblock js %}