{% extends 'base_account.html' %}
{% load static %}
{% block title %}
    Профіль власника
{% endblock title %}
{% block css %}
    <style>
        .large-image {
            width: 100%;
            height: 350px;
            object-fit: cover;
        }

        .small-image {
            width: 100%;
            height: 160px;
            object-fit: cover;
        }

        .margin-bottom-30 {
            margin-bottom: 30px;
        }
    </style>
{% endblock css %}
{% block header %}
    Профіль власника
{% endblock header %}
{% block breadcrumb %}
    <li><a href=""><i class="fa fa-home"></i> Головна</a></li>
    <li class="active">Профіль</li>
{% endblock breadcrumb %}
{% block content %}
    <div class="row">
        <div class="col-lg-3">
            <div class="row">
                <div class="col-md-6 col-lg-12">
                    <div class="box box-body">
                        <img src="{{ request.user.avatar.url }}" alt="Avatar"
                             class="profile-user-img img-responsive img-circle">
                        <h3 class="profile-username text-center">{{ request.user }}</h3>
                        <p class="text-muted text-center">Власник квартири</p>
                        <ul class="list-group list-group-unbordered">
                            <li class="list-group-item">
                                <span>Телефон</span>
                                <span class="pull-right">
                                    {% if request.user.phone_number %}
                                        {{ request.user.phone_number }}
                                    {% else %}
                                        Не вказано
                                    {% endif %}
                                </span>
                            </li>
                            <li class="list-group-item">
                                <span>Viber</span>
                                <span class="pull-right">
                                   {% if request.user.viber %}
                                       {{ request.user.viber }}
                                   {% else %}
                                       Не вказано
                                   {% endif %}
                                </span>
                            </li>
                            <li class="list-group-item">
                                <span>Telegram</span>
                                <span class="pull-right">
                                   {% if request.user.telegram %}
                                       {{ request.user.telegram }}
                                   {% else %}
                                       Не вказано
                                   {% endif %}
                                </span>
                            </li>
                            <li class="list-group-item">
                                <span>Email</span>
                                <span class="pull-right">{{ request.user.email }}</span>
                            </li>
                        </ul>
                        <a href="{% url 'account:profile:update' %}" class="btn btn-primary btn-block">Редагувати</a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-12">
                    <h3 class="page-header">Про мене (замітки)</h3>
                    <div class="box">
                        <div class="box-body box-profile">
                            {% if request.user.about_me %}
                                {{ request.user.about_me }}
                            {% else %}
                                Не вказано
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-9">
            <h2 class="page-header">Мої квартири</h2>
            {% for flat in flats %}
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">Опис квартири</h3>
                    </div>
                    <div class="box-body">
                        <p>{{ flat.house.name }}. {{ flat.house.address }}, кв. № {{ flat.no }}</p>
                        <div class="row">
                            <div class="col-xs-12 col-md-6">
                                <img src="{{ flat.house.image_1.url }}" alt="Large image"
                                     class="large-image margin-bottom-30">
                            </div>
                            <div class="col-xs-6 col-md-3">
                                <img src="{{ flat.house.image_2.url }}" alt="Small image"
                                     class="small-image img-responsive margin-bottom-30">
                            </div>
                            <div class="col-xs-6 col-md-3">
                                <img src="{{ flat.house.image_3.url }}" alt="Small image"
                                     class="small-image img-responsive margin-bottom-30">
                            </div>
                            <div class="col-xs-6 col-md-3">
                                <img src="{{ flat.house.image_4.url }}" alt="Small image"
                                     class="small-image img-responsive margin-bottom-30">
                            </div>
                            <div class="col-xs-6 col-md-3">
                                <img src="{{ flat.house.image_5.url }}" alt="Small image"
                                     class="small-image img-responsive margin-bottom-30">
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped">
                                <thead>
                                <tr>
                                    <th colspan="2">Опис</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <th style="min-width: 200px; font-weight:normal">Назва будинку</th>
                                    <th style="font-weight:normal">{{ flat.house.name }}</th>
                                </tr>
                                <tr>
                                    <td>Адреса</td>
                                    <td>{{ flat.house.address }}</td>
                                </tr>
                                <tr>
                                    <td>№ квартири</td>
                                    <td>{{ flat.no }}</td>
                                </tr>
                                <tr>
                                    <td>Площа</td>
                                    <td>
                                        {{ flat.area }}м<sup>2</sup>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Поверх</td>
                                    <td>{{ flat.floor }}</td>
                                </tr>
                                <tr>
                                    <td>Секція</td>
                                    <td>{{ flat.section }}</td>
                                </tr>
                                <tr>
                                    <td>Особовий рахунок</td>
                                    <td>
                                        {% if flat.personal_account %}
                                        {{ flat.personal_account.no }}
                                        {% else %}
                                            Не вказано
                                        {% endif %}
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}
{% block js %}
    <script>
    </script>
{% endblock js %}